{% extends "manage.html" %}


{% block subtitle %}Add Exercise{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/question_quiz.css" type="text/css" />
{% endblock %}
{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/jquery-1.9.1.min.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/add_quiz.js"></script>
{% endblock %}
{% block onload %} onload="javascript:test();"  {% endblock %}
{% block content %}

<form name=frm id=frm action="" method="post" >
  {% csrf_token %}
  <center>
  <table class="span1 table">
  {{ form.as_table }}
  </table>
  <br/><br/>
  </center>

  <center><button class="btn" type="submit" id="submit" name="questionpaper"> Save
  </button>

  <button class="btn" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/manage/courses/");'>Cancel</button> </center>
</form>
{% endblock %}
