{% extends "manage.html" %}
{% load custom_filters %}

{% block title %}Create/Edit Lesson{% endblock %}

{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/lesson.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/jquery-ui-1.12.1.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{URL_ROOT}}/static/yaksh/css/jquery-ui/jquery-ui-1.12.1.css">
<link rel="stylesheet" href="{{URL_ROOT}}/static/yaksh/css/lesson.css">
{% endblock %}

{% block content %}
<div class="yakshwell container">
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}
<form name=frm id=frm action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center>
    <table class="table table-bordered table-responsive-sm">
    {{ lesson_form.as_table }}
    {{ lesson_file_form.as_table }}
    </table>
    </center>
    <br><br>
    {% if lesson_files %}
    <center>
    <div class="alert alert-success col-md-8 animated flash">
        <h4>Files added to this lesson</h4>
    </div>
    </center>
        {% for f in lesson_files %}
            <li class="list-group-item">
                <h4>
                    <input type="checkbox" name="delete_files" value="{{f.id}}">
                    </input>
                    <a href="{{f.file.url}}">{{ f.file.name|file_title }}</a>
                </h4>
            </li>
        {% endfor %}
    {% else %}

    <center>
    <div class="alert alert-warning col-md-8 animated flash">
        <h4 class="alert-warning">No Files added to this lesson</h4>
    </div>
    </center>
    {% endif %}
    <br><br>
    <center>
    {% if lesson_creator == None or lesson_creator == user or perm_type == "write" %}
    <button class="btn btn-success" type="submit" id="submit" name="Save"> Save
    </button>
    {% endif %}
    
    {% if lesson_files %}
    <button class="btn btn-danger" type="submit" id="submit" name="Delete"> Delete Files
    </button>
    {% endif %}
    {% if course_id %}
    <button class="btn btn-danger" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/manage/courses/");'>Cancel</button>
    {% else %}
    <button class="btn btn-danger" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/manage/courses/all_lessons/");'>Cancel</button>
    {% endif %}
    </form>
    <button class="btn btn-outline-primary" type="button" name="button" id="preview">Preview Lesson Description
    </button>
    <button class="btn btn-outline-primary" type="button" name="button" id="embed">
        Embed Video link
    </button>
    </center>
    <hr>
    <div class="card" id="preview_text_div" style="display: none;">
        <div class="card-heading">
            <center>
                <h3>Description Preview</h3>
            </center>
        </div>
        <div class="card-body" id="description_body">
        </div>
    </div>
</div>
{% endblock %}