{% extends "manage.html" %}
{% load custom_filters %}

{% block title %}Create/Edit Lesson{% endblock %}

{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/lesson.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/jquery-ui.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{URL_ROOT}}/static/yaksh/css/jquery-ui/jquery-ui.css">
<link rel="stylesheet" href="{{URL_ROOT}}/static/yaksh/css/lesson.css">
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}
<form name=frm id=frm action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center>
    <table class="table table-bordered">
    {{ lesson_form.as_table }}
    {{ lesson_file_form.as_table }}
    </table>
    </center>
    <br><br>
    {% if lesson_files %}
    <div class="alert alert-success">
        <center><h4>Files added to this lesson</h4></center>
    </div>
        <ul class="list-group">
        <strong>
            Select checkbox and click Delete Files button to delete files
        </strong>
        {% for f in lesson_files %}
            <li class="list-group-item">
                <h4>
                    <input type="checkbox" name="delete_files" value="{{f.id}}">
                    </input>
                    <a href="{{f.file.url}}">{{ f.file.name|file_title }}</a>
                </h4>
            </li>
        {% endfor %}
    {% else %}
    <div class="alert alert-warning">
        <center><h4 class="alert-warning">No Files added to this lesson
        </h4></center>
    </div>
    {% endif %}
    <br><br>
    <center>
    <button class="btn" type="submit" id="submit" name="Save"> Save
    </button>
    {% if lesson_files %}
    <button class="btn" type="submit" id="submit" name="Delete"> Delete Files
    </button>
    {% endif %}
    {% if course_id %}
    <button class="btn" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/manage/courses/");'>Cancel</button>
    {% else %}
    <button class="btn" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/manage/courses/all_lessons/");'>Cancel</button>
    {% endif %}
    </form>
    <button class="btn" type="button" name="button" id="preview">Preview Lesson Description
    </button>
    <button class="btn" type="button" name="button" id="embed">
        Embed Video link
    </button>
    </center>
    <hr>
    <div class="panel panel-default" id="preview_text_div" style="display: none;">
        <div class="panel-heading">
            <center>
                <h3>Description Preview</h3>
            </center>
        </div>
        <div class="panel-body" id="description_body">
        </div>
    </div>

{% endblock %}