{% extends "manage.html" %}

{% block subtitle %}Add Question{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/question_quiz.css" type="text/css" />
<link rel="stylesheet" media="all" type="text/css" href="{{ URL_ROOT }}/static/yaksh/css/autotaggit.css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/jquery-1.4.2.min.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/add_question.js"></script>
{% endblock %}

{% block onload %} onload='javascript:textareaformat();' {% endblock %}

{% block manage %}
<form action="" method="post" name=frm onSubmit="return autosubmit();">
  {% csrf_token %}
  <center><table class=span1>
  <tr><td>Summary: <td>{{ form.summary }}{{ form.summary.errors }}
  <tr><td> Language: <td> {{form.language}}{{form.language.errors}}
  <tr><td> Active: <td> {{ form.active }}{{form.active.errors}} &nbsp; Type: &nbsp;{{ form.type }}{{form.type.errors}}
  <tr><td>Points:<td><button class="btn-mini" type="button" onClick="increase(frm);">+</button>{{ form.points }}<button class="btn-mini" type="button" onClick="decrease(frm);">-</button>{{ form.points.errors }} 
    <tr><td><strong>Rendered: </strong><td><p id='my'></p>
  <tr><td>Description: <td>{{ form.description}}  {{form.description.errors}}
  <tr><td>Tags: <td>{{ form.tags }}
  <tr><td> Test Case Type: <td> {{ form.test_case_type }}{{ form.test_case_type.errors }}

  <div class="form-group">
      {{ test_case_formset.management_form }}

      {% for form in test_case_formset %}
        <div class="link-formset">
            {{ form }}
        </div>
      {% endfor %}

  </div>

  </table></center>
  <center>
    <button class="btn" type="submit" name="save_question">Save & Add Testcase</button>
    <button class="btn" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/manage/questions/");'>Back to Questions</button>
  </center>
</form>
{% endblock %}
