<div id="questions">
    <script>
    $(document).ready(function(){
    $("#checkall").change(function(){
            if($(this).prop("checked")) {
                    $("#filtered-questions input:checkbox").each(function(index, element) {
                    $(this).prop('checked', true);
                    });
            }
            else {
                    $("#filtered-questions input:checkbox").each(function(index, element) {
                    $(this).prop('checked', false);
                    });
            }
        });
    });
    </script>
    {% if questions %}
    {% include "yaksh/paginator.html" %}

        <h5 class="highlight"><input type="checkbox" id="checkall">
            Select All
        </h5>
        <ul class="inputs-list">
            <table id="questions-table" class="tablesorter table table table-striped">
            <thead>
            <tr>
            <th> Select </th>
            <th> Summary </th>
            <th> Language </th>
            <th> Type </th>
            <th> Marks </th>
            </tr>
            </thead>
            <tbody>
           {% for question in questions %}
                <tr>
                <td>
                <input type="checkbox" name="question" value="{{ question.id }}">
                </td>
                <td><a href="{% url 'yaksh:add_question' question.id %}">{{question.summary|capfirst}}</a></td>
                <td>{{question.language|capfirst}}</td>
                <td>{{question.type|capfirst}}</td>
                <td>{{question.points}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </ul>
    {% include "yaksh/paginator.html" %}
    {% endif %}
</div>
