{% extends "base.html" %}
<!DOCTYPE html>
{% block title %} Change Password {% endblock %}

{% block pagetitle %}Online Test {% endblock %}

{% block content %}
{% if not_match %}
<h4> Passwords do not match </h4>
{% endif %}
<form action="" method="post" >
  {% csrf_token %}
  <center>
  <table class=span1>
  {{ form.as_table }}
  </table>
  </center>
  <center><button class="btn" type="submit">Change Password</button>
  <button class="btn" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/");'>Cancel</button> </center>
</form>
{% endblock content %}
