{% extends "base.html" %}

{% block nav %}
<div class="container-fluid yakshnav">
  <nav class="navbar fixed-top navbar-expand-lg yakshheading yakshnav">
    <div class="container">
      <a class="navbar-brand">
          <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH">
          </img>
       </a>
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div>
{% endblock %}

{% block content %}
{% if module_id and not paper.question_paper.quiz.is_trial %}
<center>
    <div class="alert alert-info col-md-8 animated flash">
        Note:- Please Click on the Next button to submit the quiz. Please do not close the browser without clicking Next.
    </div>
</center>
{% endif %}
{% csrf_token %}
    {% if paper.questions_answered.all or paper.questions_unanswered.all %}
        <center>
        <div class="col-md-8 yakshwell">
            <h3>Submission Status</h3>
            <table class="table table-bordered table-responsive-sm" >
                <thead>
                    <tr class="yakshred text-center">
                        <th> Question</th>
                        <th> Status </th>
                    </tr>
                </thead>

                {% for question in paper.questions.all %}
                    <tbody>
                        {% if question in paper.questions_answered.all %}
                            <tr class="table-success">
                            <td> {{ question.summary }} </td>
                            <td> Attempted </td>
                        {% else %}
                            <tr class="table-danger">
                            <td> {{ question }} </td>
                            <td> Not completed </td>
                        {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        </center>
    {% endif %}
	<center class="yakshwell container-fluid"><h5 class="yakshwell"><span class="alert alert-success animated flash">{{message}}</span></h5></center>
    <center>
    <br>
    {% if module_id and not paper.question_paper.quiz.is_trial %}
        {% if first_unit %}
            <a href="{{URL_ROOT}}/exam/next_unit/{{course_id}}/{{module_id}}/{{learning_unit.id}}/1" class="btn btn-info" id="Next"> Next
                <span class="fa fa-step-forward">
                </span>
            </a>
        {% else %}
            <a href="{{URL_ROOT}}/exam/next_unit/{{course_id}}/{{module_id}}/{{learning_unit.id}}" class="btn btn-info" id="Next"> Next
                <span class="fa fa-step-forward">
                </span>
            </a>
        {% endif %}
    {% else %}
        <a href="{{URL_ROOT}}/exam/" id="home" class="btn btn-success"> Home </a>
    {% endif %}
    </center>
{% endblock content %}
