{% extends "manage.html" %}

{% block title %} Course {% endblock title %}

{% block subtitle %} {{ course.name }} {% endblock %}

{% block script %}
<script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/course.js"></script>
{% endblock %}
{% block content %}
<br/>
<div class="pull-right">
            <a class="btn btn-primary" href="{{URL_ROOT}}/exam/manage/toggle_status/{{ course.id }}/">{% if course.active %}Deactivate Course {% else %} Activate Course {% endif %}</a>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <center><b><u>Requests</u></b></center><br>
        {% if course.get_requests %}
        <input type="checkbox" class="checkall"/>&nbsp;<font size="2">Select all</font>
        <div id="enroll-all">
        <form action="{{URL_ROOT}}/exam/manage/enroll/{{ course.id }}/" method="post">
        {% csrf_token %}
        {% for request in course.get_requests %}
        <div class="well">
            <div class="row">
                <div class="col-md-3" style="padding-top:10px">
                    <input type="checkbox" name="check" value="{{ request.id }}">&nbsp;
                    <a href="#" data-toggle="modal" data-target="#request_detail_{{forloop.counter}}">
                {{ request.username }}</a>
                    <div class="modal fade" id="request_detail_{{forloop.counter}}" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Information for {{ request.username }} </h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td><strong>Full Name :</strong></td>
                                <td> {{request.get_full_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email ID :</strong></td>
                                <td> {{request.email}}</td>
                            </tr>
                            <tr>
                                <td><strong>Roll Number :</strong></td>
                                <td> {{request.profile.roll_number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Institute :</strong></td>
                                <td> {{request.profile.institute}}</td>
                            </tr>
                            <tr>
                                <td><strong>Department :</strong></td>
                                <td> {{request.profile.department}}</td>
                            </tr>
                            <tr>
                        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
                </div>
                <a class="btn btn-success" href="{{URL_ROOT}}/exam/manage/enroll/{{ course.id }}/{{ request.id }}/"> Enroll </a>  <a class="btn btn-danger" href="{{URL_ROOT}}/exam/manage/reject/{{ course.id }}/{{ request.id }}/"> Reject </a>
            </div>
        </div>
        {% endfor %}
        <button class="btn success" type="submit" name='enroll' value='enroll'>Enroll Selected</button>
        </div>
        {% endif %}
        </form>
    </div>
    <div class="col-md-6">
        <center><b><u>Rejected</u></b></center><br>
        {% if course.get_rejected %}
        <input type="checkbox" class="enroll"/>&nbsp;<font size="2">Select all</font>
        <div id="enroll">
        {% for rejected in course.get_rejected %}
        <form action="{{URL_ROOT}}/exam/manage/enroll/rejected/{{ course.id }}/" method="post">
        {% csrf_token %}
        <div class="well">
            <div class="row">
                <div class="col-md-4" style="padding-top:10px">
                <input type="checkbox" name="check" value="{{ rejected.id }}">&nbsp;
                <a href="#" data-toggle="modal" data-target="#reject_detail_{{forloop.counter}}">
                {{ rejected.username }}</a>
                    <div class="modal fade" id="reject_detail_{{forloop.counter}}" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Information for {{ rejected.username }} </h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td><strong>Full Name :</strong></td>
                                <td> {{rejected.get_full_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email ID :</strong></td>
                                <td> {{rejected.email}}</td>
                            </tr>
                            <tr>
                                <td><strong>Roll Number :</strong></td>
                                <td> {{rejected.profile.roll_number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Institute :</strong></td>
                                <td> {{rejected.profile.institute}}</td>
                            </tr>
                            <tr>
                                <td><strong>Department :</strong></td>
                                <td> {{rejected.profile.department}}</td>
                            </tr>
                            <tr>
                        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
                </div>
                <a class="btn btn-success" href="{{URL_ROOT}}/exam/manage/enroll/rejected/{{ course.id }}/{{ rejected.id }}/"> Enroll </a>
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-success" type="submit" name='enroll' value='enroll'>Enroll Selected</button>
        </div>
        {% endif %}
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <center><b><u>Enrolled</u></b></center><br>
        {% if course.get_enrolled %}
        <input type="checkbox" class="reject"/>&nbsp;<font size="2">Select all</font>
        <div id="reject">
        {% for enrolled in course.get_enrolled %}
        <form action="{{URL_ROOT}}/exam/manage/enrolled/reject/{{ course.id }}/" method="post">
        {% csrf_token %}
        <div class="well">
            <div class="row">
                <div class="col-md-4" style="padding-top:10px">
                <input type="checkbox" name="check" value="{{ enrolled.id }}">&nbsp;
                <a href="#" data-toggle="modal" data-target="#enroll_detail_{{forloop.counter}}">
                {{ enrolled.username }}</a>
                    <div class="modal fade" id="enroll_detail_{{forloop.counter}}" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Information for {{ enrolled.username }} </h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td><strong>Full Name :</strong></td>
                                <td> {{enrolled.get_full_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email ID :</strong></td>
                                <td> {{enrolled.email}}</td>
                            </tr>
                            <tr>
                                <td><strong>Roll Number :</strong></td>
                                <td> {{enrolled.profile.roll_number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Institute :</strong></td>
                                <td> {{enrolled.profile.institute}}</td>
                            </tr>
                            <tr>
                                <td><strong>Department :</strong></td>
                                <td> {{enrolled.profile.department}}</td>
                            </tr>
                            <tr>
                        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
                </div>
                <a class="btn btn-danger" href="{{URL_ROOT}}/exam/manage/enrolled/reject/{{ course.id }}/{{ enrolled.id }}/"> Reject </a>
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-danger" type="submit" name='reject' value='reject'>Reject Selected</button>
	    </div>
        {% endif %}
        </form>
    </div>
</div>

{% endblock %}
