{% extends "user.html" %}
{% load custom_filters %}
{% block title %} Course Modules {% endblock %}
{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/donutpiechart.js"></script>
<script>
    function view_unit(unit){
        $("#"+unit+"_down").toggle();
        $("#"+unit+"_up").toggle();
    }

</script>
{% endblock %}

{% block main %}

<div class="container">
<div class="row justify-content-md-center yakshwell ">
    <div class="col-md-10 bg-light card">
        <div class="row align-items-center">
            <div class="col h4">  {{ course.name }}  </div>
            <div class="col-md-3 ml-auto yakshwell">
                <div class="row align-items-center"> 
                    <div class="col-sm-6"> Overall
                    Course</br>Completion :
                    </div>
                    <div class="col-sm-5">
                    <span class="progress">
                      <span class="progress-bar bg-warning " role="progressbar" style="width: {{ course_percentage }}%; color: black;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ course_percentage }} % completed</span>
                    </span>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<center>
<div class=" col-md-8">
<b>Grade: {% if grade %} {{ grade }} {% else %} Will be available once the course is complete {% endif %}</b>
</div>


{% if msg %}
    <div class="col-md-8 alert alert-warning animated flash" role="alert">
        {{ msg }}
    </div>
{% endif %}
</center>

<div class="row justify-content-md-center ">
{% if modules %}
    <div class="col-md-10  yakshwell">

    <strong>Overall Course Progress</strong>
    <div class="progress">
        {% if course_percentage <= 50 %}
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:{{course_percentage}}%">
        {% elif course_percentage <= 75 %}
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:{{course_percentage}}%">
        {% else %}
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:{{course_percentage}}%">
        {% endif %}
        <b style="color: black;">{{course_percentage}}% Completed</b>
        </div>
    </div>
        
        {% for module, percent in modules %}
        <div class="yakshwell">
            <div class="row yakshlabel align-items-center">
                <div class="col-md-4">
                    {{module.name|title}}
                </div>

                <div class="col-md-1">
                    <a data-toggle="collapse" data-target="#learning_units{{module.id}}{{course.id}}" onclick="view_unit('learning_units{{module.id}}{{course.id}}');">
                    <div class="btn yakshred"> 
                    <span class="fa fa-caret-down fa-2x" id="learning_units{{module.id}}{{course.id}}_down" >
                    </span>
                    <span class="fa fa-caret-right fa-2x" id="learning_units{{module.id}}{{course.id}}_up" style="display: none; ">
                    </span>
                    </div>
                    </a>
                    
                </div>
                <div class="col-md-5 ml-auto">
                    <div class="row align-items-center justify-content-md-end">
                    <div class="col-md-3">
                        <a href="{{URL_ROOT}}/exam/quizzes/view_module/{{module.id}}/{{course.id}}">
                        {% get_module_status user module course as module_status %}
                        {% if module_status == "completed" %}
                        <div class="btn btn-success ">
                            View
                        </div>
                        {% elif module_status == "inprogress" %}
                        <div class="btn btn-info">
                            Continue
                        </div>
                        {% else %}
                        <div class="btn btn-danger ">
                            Start
                        </div>
                        {% endif %}
                        </a>
                    </div>
                    <div class="col-md-6">
                        {% get_module_status user module course as module_status %}
                        {% if module_status == "completed" %}
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 100%; color: black;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ percent }} % completed</div>
                        </div>
                        {% elif module_status == "inprogress" %}
                        <div class="progress">
                          <div class="progress-bar bg-warning " role="progressbar" style="width: 50%; color: black;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ percent }} % completed</div>
                        </div>
                        {% else %}
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 1%; color: black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ percent }} % completed</div>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            <div id="learning_units{{module.id}}{{course.id}}" class="collapse">
                        <table class="table yakshwell">
                        
                        {% for unit in module.get_learning_units %}
                        <tr>
                            <td>
                            {% if unit.type == "quiz" %}
                                {% if unit.quiz.is_exercise %}
                                    <span class="fa fa-pencil"></span>
                                {% else %}
                                    <span class="fa fa-puzzle-piece"></span>
                                {% endif %}
                            {% else %}
                                <span class="fa fa-book"></span>
                            {% endif %}
                            </td>
                            <td>
                            {% if unit.type == "quiz" %}
                                {{unit.quiz.description}}
                            {% else %}
                                {{unit.lesson.name}}
                            {% endif %}
                            </td>
                            
                            <td>
                            {% get_unit_status course module unit user as status %}
                            {% if status == "completed" %}
                                <span class="badge badge-success">{{status|title}}
                                </span>
                            {% elif status == "inprogress" %}
                                <span class="badge badge-info">{{status|title}}
                                </span>
                            {% else %}
                                <span class="badge badge-warning">{{status|title}}
                                </span>
                            {% endif %}
                            </td>
                            <td>
                            {% if unit.type == "quiz" %}
                                {% if unit.quiz.view_answerpaper %}
                                    <a href="{{ URL_ROOT }}/exam/view_answerpaper/{{ unit.quiz.questionpaper_set.get.id }}/{{course.id}}" >
                                    <i class="fa fa-eye" aria-hidden="true"></i>Answer paper</a>
                                {% else %}
                                    <a >
                                    <i class="fa fa-eye-slash" aria-hidden="true">
                                    </i>Answer paper</a>
                                {% endif %}
                            {% else %}
                                ------
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <h3 class="alert-danger"> No lectures found </h3>
{% endif %}
</div>
</div>
{% endblock %}
