{% extends "manage.html" %}
{% block title %} Courses {% endblock %}
{% block pagetitle %} Courses {% endblock pagetitle %}

{% block css %}
<style>
    .test + .tooltip.top > .tooltip-inner {
      padding: 15px;
      font-size: 12px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-pills" id="course_tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if created %}active{% endif %}" href="{% url 'yaksh:courses' %}">
                            My Courses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'yaksh:add_course' %}">
                            Add New Course
                        </a>
                    </li>
                    <li class="nav-item dropdown hide">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">More</a>
                        <div class="dropdown-menu hide" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="{% url 'yaksh:show_all_quizzes' %}">
                            Add/View Quizzes
                        </a>
                        <a class="dropdown-item" href="{% url 'yaksh:show_all_lessons' %}">
                            Add/View Lessons
                        </a>
                        <a class="dropdown-item" href="{% url 'yaksh:show_all_modules' %}">
                            Add/View Modules
                        </a>
                        <a href="{% url 'grades:grading_systems'%}" class="dropdown-item" >
                            Add/View Grading Systems
                        </a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% if not objects %}
            <br><br>
            <div class="alert alert-info">
                <center> <h3> No Courses Found </h3> </center>
            </div>
        {% else %}
            <hr>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fa fa-close"></i>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
            {% with objects as courses %}
            {% include "yaksh/paginator.html" %}
            <div class="row">
                <br>
                {% for course in courses %}
                    <div class="col-md-6">
                        <div class="card border-primary">
                            <div class="card-header" style="height: 150px">
                                {{course.name}}
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <strong>Starts On:</strong>
                                        {{course.start_enroll_time}}
                                        <br>
                                        <strong>Ends On:</strong>
                                        {{course.end_enroll_time}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-5">
                                        {% if user.id != course.creator.id %}
                                            <span class="badge badge-pill badge-secondary">
                                                Allotted Course
                                            </span>
                                        {% else %}
                                            <span class="badge badge-pill badge-info">
                                                Created Course
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3">
                                        {% if course.active %}
                                            <span class="badge badge-pill badge-success">
                                            Active
                                            </span>
                                        {% else %}
                                            <span class="badge badge-pill badge-danger">
                                            Inactive
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{% url 'yaksh:toggle_course_status' course.id %}">
                                        {% if course.active %}
                                            <i class="fa fa-toggle-on fa-2x"></i>
                                        {% else %}
                                            <i class="fa fa-toggle-off fa-2x"></i>
                                        {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="{% url 'yaksh:edit_course' course.id %}" class="btn btn-info">
                                            <i class="fa fa-edit"></i>
                                            Edit Course
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{% url 'yaksh:course_detail' course.id %}" class="btn btn-primary">
                                            <i class="fa fa-tasks"></i>
                                            Manage Course
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{% url 'yaksh:download_course_csv' course.id %}" class="btn btn-secondary">
                                            <i class="fa fa-download"></i>
                                            Download CSV
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                {% endfor %}
                <br>
            </div>
            {% include "yaksh/paginator.html" %}
            {% endwith %}
        </div>
    {% endif %}
</div>
{% endblock %}