{% extends "user.html" %}
{% load humanize %}
{% block title %}
    {{course.name}}: Discussion Forum
{% endblock title %}
{% block content %}
    <div class="container">
        <div>
            <h2><center>{{course.name}}</center></h2>
            <center>Discussion Forum</center>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newThreadModal">New Thread</button>
        </div>
        <!-- Modal -->
        <div id="newThreadModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Create a new thread</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form action="." method="POST" enctype='multipart/form-data'>
                    <div class="form-group">
                        {% csrf_token %}
                        {{form}}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Create Thread">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
        <br>
        <br>
        <div>
            <h3>Threads:</h3>
            {% if threads %}
                {% for thread in threads %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url "yaksh:thread_comments" course.id thread.uid %}">{{thread.title}}</a>
                            <br>
                            {% if thread.image %}
                                <img src="{{thread.image.url}}" class="thread_image">
                            {% endif %}
                            <p class="pull-right"><small>{{thread.get_comments_count}}{% if thread.get_comments_count > 1 %} replies{% else %} reply{% endif %}</small></p>
                        </div>
                        <div class="card-footer">
                            {% with thread.get_last_comment as last_comment %}
                                <small> {% if thread.creator.profile.is_moderator %} INSTRUCTOR CREATED {% endif %} Last Post by: <strong>{{last_comment.creator}}</strong> . {{last_comment.modified_at|naturaltime}}</small>
                            {% endwith %}
                            {% if user.profile.is_moderator %}
                                <small><a href="{% url "yaksh:hide_thread" course.id thread.uid %}" class="pull-right">Delete</i></a></small>
                            {% endif %}
                        </div>
                    </div>
                <br>
                {% endfor %}
            {% else %}
                No discussion threads are there yet. Create one to start discussing.
            {% endif %}
        </div>
    </div>
{% endblock content %}