{% extends "user.html" %}
{% load humanize %}
{% load static %}
{% block title %}
    {{course.name}}: Discussion Forum
{% endblock title %}
{% block content %}
    <div class="container">
        <div>
            <h2><center>{{course.name}}</center></h2>
            <center>Discussion Forum</center>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModal">New Post</button>
        </div>
        <!-- Modal -->
        <div id="newPostModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Create a new Post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form action="." method="POST" enctype='multipart/form-data'>
                    <div class="form-group">
                        {% csrf_token %}
                        {{form}}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Create Post">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
        <br>
        <br>
        <div>
            {% if posts %}
                {% for post in posts %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url "yaksh:post_comments" course.id post.uid %}">{{post.title}}</a>
                            <p>{{post.description|truncatewords:30}}</p>
                            <p class="pull-right"><small>{{post.get_comments_count}}{% if post.get_comments_count > 1 %} replies{% else %} reply{% endif %}</small></p>
                        </div>
                        <div class="card-footer">
                            {% with post.get_last_comment as last_comment %}
                                <small> {% if post.creator.profile.is_moderator %} <span class="brown-light">INSTRUCTOR</span> {% endif %} {% if last_comment %} Last Post by: <strong>{{last_comment.creator}}</strong> . {{last_comment.modified_at|naturaltime}} {% else %} Created By <strong>{{post.creator.username}}</strong> {% endif %}</small>
                            {% endwith %}
                            {% if user.profile.is_moderator %}
                                <small><a href="{% url "yaksh:hide_post" course.id post.uid %}" class="pull-right">Delete</i></a></small>
                            {% endif %}
                        </div>
                    </div>
                <br>
                {% endfor %}
            {% else %}
                No discussion posts are there yet. Create one to start discussing.
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block script %}
      <script type="text/javascript" src="{% static 'yaksh/js/mathjax/MathJax.js' %}?config=TeX-MML-AM_CHTML"></script>
{% endblock script %}