{% extends "manage.html" %}

{% block pagetitle %} Grade User {% endblock pagetitle %}

{% block content %}

{% block script %}
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock script %}


{% if course_details %}
    <table id="course-details" class="table table-bordered">
    <tr>
    <th>Courses</th> 
    <th> Quizzes </th>
    </tr>

    {% for course in course_details %}
    <tr>
    <td><ul class="list-group">{{course.name}} </td>

    {% if course.get_quizzes %}
    <td>
    {% for quiz in course.get_quizzes %}
     <li class="list-group-item"><a href = "{{URL_ROOT}}/exam/manage/gradeuser/{{quiz.id}}">
     {{quiz.description}}
     </a></li>
    {% endfor %}
    </td>
    {% else %}
    <td> No quiz</td>
    {% endif %}
    </ul></tr>
    {% endfor %}
    </table>
{% endif %}

<div class="row">
{%if users %}
    <div id = "student" class="col-md-2">
    {% for user in users %}
    <p><a href = "{{URL_ROOT}}/exam/manage/gradeuser/{{quiz_id}}/{{user.user__id}}">
    {{user.user__first_name}} {{user.user__last_name}}</a></p>
    {% endfor %}
    </div>
{% endif %}



<div id = "paper" class="col-md-10">
{% if data %}


<p> <h3> <center> Showing paper for {{data.user.get_full_name.title}} </center></h3>
<p><b>Name:</b>{{ data.user.get_full_name.title }}
{% if data.profile %}

<p><b> Roll number:</b> {{ data.profile.roll_number }}
<p><b>Position: </b> {{ data.profile.position }}
<p><b>Department: </b>{{ data.profile.department }} 
<p><b>Institute: </b>{{ data.profile.institute }}
{% endif %}

{% if data.papers %}

{% for paper in data.papers %}
<hr>
{{ paper.total_marks }}

<h3> Quiz: {{ paper.question_paper.quiz.description }} </h3>

<p>
Attempt Number: <b>{{paper.attempt_number}} </b>
<select id = "attempt" onchange="window.location.href=this.value">
<option selected="">Select attempt number</option>
{%for attempt in attempts %}
<option value = "{{URL_ROOT}}/exam/manage/gradeuser/{{quiz_id}}/{{user_id}}/{{attempt.attempt_number}}/"> 
{{attempt.attempt_number}}
</option>
{% endfor %}
</select>

<br/>Questions correctly answered: {{ paper.get_answered_str }} <br/>
Total attempts at questions: {{ paper.answers.count }} <br/>
Marks obtained: {{ paper.marks_obtained }} <br/>
Start time: {{ paper.start_time }} <br/>
End time: {{ paper.end_time }} <br/>
{%if paper.percent%}
Percentage obtained: {{paper.percent}}% <br/>
{% endif %}
{% if paper.passed == 0 %}
Status : <b style="color: red;"> Failed </b><br/>
{% else %}
Status : <b style="color: green;"> Passed </b><br/>
{% endif %}
</p>

{% if paper.answers.count %}

<h4> Report </h4><br>
<table class="table table-bordered">
    <th>Questions</th>
    <th>Marks Obtained</th>
    {% for question, answers in paper.get_question_answers.items %}
    {% with answers|last as answer %}
        <tr>
        <td>{{ question.id }}</td>
        <td>{{ answer.answer.marks }}</td>
        </tr>
    {% endwith %}
    {% endfor %}
</table>


<h3> Answers </h3><br>
<form name=frm id="q{{ paper.quiz.id }}_form"
    {% if data.questionpaperid %}
    action="{{URL_ROOT}}/exam/manage/gradeuser/{{quiz_id}}/{{user_id}}/{{paper.attempt_number}}/"
    {% else %}
    action="{{URL_ROOT}}/exam/manage/gradeuser/{{quiz_id}}/{{user_id}}/{{paper.attempt_number}}/"
    {% endif %}
    method="post">
{% csrf_token %}
{% for question, answers in paper.get_question_answers.items %}

<div class="panel panel-info">
        <div class="panel-heading">
            <strong> Details: {{forloop.counter}}. {{ question.summary }} 
            <span class="marks pull-right"> Mark(s): {{ question.points }} </span>
            </strong>
        </div>
        <div class="panel-body">
            <h5><u>Question:</u></h5> <strong>{{ question.description|safe }}</strong>
            {% if question.type == "mcq" or question.type == "mcc" %}
                <h5> <u>Choices:</u></h5>
                {% for testcase in question.get_test_cases %}
                    {% if testcase.correct %}
                    <br/>
                    <strong>{{ forloop.counter }}. {{ testcase.options|safe }}</strong>
                    <span class="label label-success"> Correct </span>
                    {% else %}
                    <br/><strong>
                    {{ forloop.counter }}. {{ testcase.options|safe }}</strong>
                    {% endif %}
                    {% endfor %}

            {% elif question.type == "integer" or "string" or "float" %}
                <h5> <u>Correct Answer:</u></h5>
                    {% for testcase in question.get_test_cases %}
                    <strong>{{ testcase.correct|safe }}</strong>
                    {% if testcase.error_margin %}
                    <strong>{{ testcase.error_margin|safe }}</strong>
                    {% endif %}
                    {% endfor %}

            {% else %}
                <h5> <u>Test cases: </u></h5>
                    {% for testcase in question.get_test_cases %}
                        <br/><strong>{{ forloop.counter }}. {{ testcase }}</strong>
                    {% endfor %}
            {%endif%}
        </div>
    </div>
    <h5>Student answer: </h5>
    {% for ans in answers %}
    {% if ans.answer.correct %}
            <div class="panel panel-success">
                <div class="panel-heading">Correct answer:
        {% else %}
            <div class="panel panel-danger">
                <div class="panel-heading">Error:
        {% endif %}
        {% for err in ans.error_list %}
            <div><pre>{{ err }}</pre></div>
        {% endfor %}
    </div>
    <div class="panel-body">
    {% if question.type != "code" %}
    <div class="well well-sm">
    {{ ans.answer.answer.strip|safe }}
    </div>
    {% else %}
    <pre><code>{{ ans.answer.answer.strip|safe }}</code></pre>
    {% endif %}
    </div>
    </div>
    {% endfor %}
    {% with answers|last as answer %}
    Marks: <input id="q{{ question.id }}" type="text" 
        name="q{{ question.id }}_marks" size="4"
        value="{{ answer.answer.marks }}"><br><br>
    {% endwith %}
    <hr/>
    {% endfor %} {# for question, answers ... #}
<div class="form-group">
<h3>Teacher comments: </h3>
<textarea id="comments_{{paper.question_paper.id}}" class="form-control"
    name="comments_{{ paper.question_paper.id }}">{{ paper.comments }}</textarea>
</div>
<br><button class="btn btn-primary" type="submit" name="submit_{{paper.quiz.id}}">Save Marks</button>

</form>
</div>

{% endif %} {# if paper.answers.count #}

{% endfor %} {# for paper in data.papers #}

{% endif %} {#  if data.papers #}
{% else %}
    </div>
{% endif %} {#if data#}

</div>
{% endblock%}
