{% extends "manage.html" %}
{% load custom_filters %}
{% block title %} Grade User {% endblock %}

{% block pagetitle %} Grade User {% endblock pagetitle %}

{% block content %}
<div class="yakshwell container">
{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/jquery.tablesorter.min.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/mathjax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript">
$(document).ready(function()
{
  $("#marks_table").tablesorter({sortList: [[2,1]]});
});
</script>
{% endblock script %}

{% if course_details %}
<div class="table-wrapper-2">
    <table id="course-details" class="table table-bordered table-responsive-sm">
    <tr class="yakshlabel yakshred text-center">
    <th><i class="fa fa-book"></i> Courses</th>
    <th><i class="fa fa-puzzle-piece"></i> Quizzes </th>
    </tr>

    {% for course in course_details %}
    <tr>
    <td><ul class="list-group">{{course.name}} </td>

    {% if course.get_quizzes %}
    <td>
    {% for quiz in course.get_quizzes %}
     <li class="list-group-item"><a href = "{{URL_ROOT}}/exam/manage/gradeuser/{{quiz.id}}/{{course.id}}/">
     {{quiz.description}}
     </a></li>
    {% endfor %}
    </td>
    {% else %}
    <td> No quiz</td>
    {% endif %}
    </ul></tr>
    {% endfor %}
    </table>
  </div>
{% endif %}

<div class="row">
{% if not course_details %}
{% if users %}
    <div id = "student" class="col-md-2">
    {% for user in users %}
    <p><a href = "{{URL_ROOT}}/exam/manage/gradeuser/{{quiz_id}}/{{user.user__id}}/{{course_id}}/" class="btn btn-primary">
    {{user.user__first_name}} {{user.user__last_name}}</a></p>
    {% endfor %}
    </div>
{% else %}
<center>
  <div class="alert-warning alert animated flash">
<h4>No Users Found for {{ quiz.description }}</h4>
</center>
{% endif %}
{% endif %}

{% if has_quiz_assignments %}

<a href="{{URL_ROOT}}/exam/manage/download/quiz_assignments/{{quiz_id}}/{{course_id}}" class="btn btn-outline-info">
    Download All Assignments</a>
{% endif %}

<div id = "paper" class="col-md-10">
{% if data %}

<p><h3> <center> Showing paper for {{data.user.get_full_name.title}} </center></h3>
<p><b>Name:</b> {{ data.user.get_full_name.title }}
{% if data.profile %}

<p><b>Roll number:</b> {{ data.profile.roll_number }}
<p><b>Position: </b> {{ data.profile.position }}
<p><b>Department: </b>{{ data.profile.department }} 
<p><b>Institute: </b>{{ data.profile.institute }}
{% endif %}

{% if data.papers %}

{% for paper in data.papers %}
<hr>
{{ paper.total_marks }}

<h4> Course: {{ paper.question_paper.quiz.course.name }}</h4>
<h4> Quiz: {{ paper.question_paper.quiz.description }} </h4>

<p>
Attempt Number: <b>{{paper.attempt_number}} </b>
<select id = "attempt" onchange="window.location.href=this.value">
<option selected="">Select attempt number</option>
{%for attempt in attempts %}
<option value = "{{URL_ROOT}}/exam/manage/gradeuser/{{quiz_id}}/{{user_id}}/{{attempt.attempt_number}}/{{course_id}}/"> 
{{attempt.attempt_number}}
</option>
{% endfor %}
</select>
<br/>Questions correctly answered: {{ paper.get_answered_str }} <br/>
Total attempts at questions: {{ paper.answers.count }} <br/>
Marks obtained: {{ paper.marks_obtained }} <br/>
Start time: {{ paper.start_time }} <br/>
End time: {{ paper.end_time }} <br/>
{%if paper.percent%}
Percentage obtained: {{paper.percent}}% <br/>
{% endif %}
{% if paper.passed %}
Status : <b style="color: green;"> Passed </b><br/>
{% else %}
Status : <b style="color: red;"> Failed </b><br/>
{% endif %}
</p>
{% if paper.answers.count %}

<h4> Report </h4><br>
<table class="tablesorter table table-striped table-bordered table-responsive-sm" id ='marks_table'>
  <thead>
    <tr class="yakshlabel text-center yakshred">
    <th>Question Id</th>
    <th>Questions</th>
    <th>Marks Obtained</th>
    </tr>
    </thead>
    <tbody>
    {% for question, answers in paper.get_question_answers.items %}
    {% with answers|last as answer %}
        <tr>
        <td>{{question.id}}</td>
        <td><a href="#question_{{question.id}}">{{ question.summary }}</a></td>
        <td>{{ answer.answer.marks }}</td>
        </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
</table>

<div class="table-wrapper-2">
<h3> Answers </h3><br>
<form name=frm id="q{{ paper.quiz.id }}_form"
    action="{{URL_ROOT}}/exam/manage/gradeuser/{{quiz_id}}/{{user_id}}/{{paper.attempt_number}}/{{course_id}}/"
    method="post">
{% csrf_token %}

{% for question, answers in paper.get_question_answers.items %}
<div class = "yakshlabel">
<div class="card">
        <div class="card-heading alert-info" id="question_{{question.id}}">
            <strong> Details: {{forloop.counter}}. {{ question.summary }} 
            <span class="marks pull-right"> Mark(s): {{ question.points }} </span>
            </strong>
        </div>
        <div class="card-body">
            <h5><u>Question:</u></h5> <strong>{{ question.description|safe }}</strong>
            {% if question.type == "mcq" or question.type == "mcc" %}
                <h5> <u>Choices:</u></h5>
                {% for testcase in question.get_test_cases %}
                    {% if testcase.correct %}
                    <br/>
                    <strong>{{ forloop.counter }}. {{ testcase.options|safe }}</strong>
                    <span class="alert alert-success"> Correct </span>
                    {% else %}
                    <br/><strong>
                    {{ forloop.counter }}. {{ testcase.options|safe }}</strong>
                    {% endif %}
                    {% endfor %}

            {% elif question.type == "integer" or question.type == "string" or question.type == "float" %}
                <h5> <u>Correct Answer:</u></h5>
                    {% for testcase in question.get_test_cases %}
                    <strong>{{ testcase.correct|safe }}</strong>
                    {% if testcase.error_margin %}
                    <strong>{{ testcase.error_margin|safe }}</strong>
                    {% endif %}
                    {% endfor %}
              {% elif question.type == "arrange" %}
              <h5> <u>Correct Order:</u></h5>
              <div class="list-group" >
              {% for testcase in question.get_test_cases %}
                    <li class="list-group-item"><strong>{{ testcase.options|safe }}</strong></li>
              {% endfor %}
              </div>

            {% else %}
                <h5> <u>Test cases: </u></h5>
                    {% for testcase in question.get_test_cases %}
                        <br/><strong>{{ forloop.counter }}. {{ testcase }}</strong>
                    {% endfor %}
            {%endif%}
        </div>
    </div>
    <h5>Student answer: </h5>
    {% if question.type == "upload" %}
    {% if has_user_assignments %}
        <a href="{{URL_ROOT}}/exam/manage/download/user_assignment/{{question.id}}/{{data.user.id}}/{{paper.question_paper.quiz.id}}/{{course_id}}">
        <div class="btn btn-outline-info text-center">
        Assignment File for {{ data.user.get_full_name.title }}
        </div>
        </a>
        {% with answers|last as answer%}
            {% if answer.answer.correct %}
                <div class="card ">
                <div class="card-heading alert-success">Correct answer</div></div>
            {% else %}
                <div class="card ">
                <div class="card-heading alert-danger">Incorrect Answer</div></div>
            {% endif %}
        {% endwith %}
    {% else %}
    <center>
      <div class="alert alert-warning  animated flash">
        <h5>No Assignment submitted by {{ data.user.get_full_name.title }}</h5>
      </div>
      </center>
    {% endif %}
    {% else %}
        {% for ans in answers %}
           

        {% if question.type == "mcc"%}
        <div class="card">
          <div class="card-body">
        {% for testcases in question.get_test_cases %}
        {%if testcases.id|stringformat:"i" in ans.answer.answer.strip|safe %}
         <li>{{ testcases.options.strip|safe }}</li>
        {% endif %}
        {% endfor %}
        </div>
      </div>
        {% elif question.type == "mcq"%}
        <div class="card">
          <div class="card-body">
        {% for testcases in question.get_test_cases %}
        {%if testcases.id|stringformat:"i" == ans.answer.answer.strip|safe %}
         <li>{{ testcases.options.strip|safe }}</li>
        {% endif %}
        {% endfor %}
        </div>
      </div>

        {% elif question.type == "arrange"%}
        <div class="card">
          <div class="card-body">
          {% get_answer_for_arrange_options ans.answer.answer question as tc_list %}
        {% for testcases in tc_list %}
         <li>{{ testcases.options.strip|safe }}</li>
        {% endfor %}
      </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
    {% endif %}
    {% with answers|last as answer %}
    <div class="card">
          <div class="card-body">
          {% if question.type == "code" %}  
              {% for ele in diff %}
                {% for key, value in ele.items %}
                  {% if key == question.summary %}
                    <font color="red" size="4"><b>{{question.summary}}</b></font>
                    </br>
                    <pre><code>{{value.0}}</code></pre>
                    <hr style="border-top: 3px solid #ccc; background: transparent;"> 
                    </br>
                    {% for tuple_of_four in value.1 %}
                    <!-- tuple_of_four.0 : diff .. preprocess it, tuple_of_four.1 : original, tuple_of_four.2 : diff id, tuple_of_four.3 : submission id -->
                    
                   <font color="red" size="4"><b>{{question.summary}}</b></font>
                    </br><ul class="nav nav-tab">
                    <li class="active"><a data-toggle="tab" href="#{{tuple_of_four.2}}">Diff  </a></l>
                    <li><a data-toggle="tab" href="#{{tuple_of_four.3}}">Submission  </a></li></ul>
                    <div class="tab-content">
                      <div id="{{tuple_of_four.2}}" class="tab-pane active in">
                              
                              {% for tuple_of_two in tuple_of_four.0 %}
                                {% if tuple_of_two.0 == plus %}
                                <span class="Color_Added"> {{tuple_of_two.1}} </span>
                                {% elif tuple_of_two.0 == minus %}
                                <span class="Color_Removed"> {{tuple_of_two.1}} </span>
                                {% else %}
                                      {{tuple_of_two.1}} 
                                {% endif %}
                                </br>
                              {% endfor %}
                       </div>
                       <div id="{{tuple_of_four.3}}" class="tab-pane">
                          <pre><code>{{tuple_of_four.1}}</code></pre>
                       </div>
                       <hr style="border-top: 3px solid #ccc; background: transparent;"> 
                    </div>
                    {% endfor %}

                  {% endif %}
                {% endfor %}
              {% endfor %}
              <pre><code>{{ answer.answer.answer.strip|safe }} </code></pre>
          {% endif %}
        </div>
    </div>

    Marks: <input id="q{{ question.id }}" type="text" 
        name="q{{ question.id }}_marks" size="4"
        value="{{ answer.answer.marks }}"><br><br>
    {% endwith %}
    <hr/>
    </div>

    {% endfor %} {# for question, answers ... #}
</div>
</div>
<div>
<div class="form-group">
<h3>Teacher comments: </h3>
<textarea id="comments_{{paper.question_paper.id}}" class="form-control"
    name="comments_{{ paper.question_paper.id }}">{{ paper.comments }}
    </textarea>
</div>
<br><button class="btn btn-primary" type="submit" name="submit_{{paper.quiz.id}}">Save Marks</button>

</form>
</div>

{% endif %} {# if paper.answers.count #}


{% endfor %} {# for paper in data.papers #}

{% endif %} {#  if data.papers #}
{% else %}
    </div>
{% endif %} {#if data#}

</div>
</div>
{% endblock%}
