{% extends "user.html" %}
{% block title %}
	Message(s)
{% endblock %}
{% block main %}
<div class="container">
	<h3 class=" text-center">Messaging</h3>
	<div class="messaging">
		<div class="inbox_msg">
		<div class="inbox_people">
		  <div class="headind_srch">
		    <div class="recent_heading">
		      <h4>Recent</h4>
		    </div>
		    <div class="srch_bar">
		      <div class="stylish-input-group">
		        <input type="text" class="search-bar"  placeholder="Search" >
		        <span class="input-group-addon">
		        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
		        </span>
		      </div>
		    </div>
		  </div>
		  <div class="inbox_chat">
		  {% for room in user_rooms %}
		    <div class="chat_list">
		      <div class="chat_people">
				<a href="#" class="view_message" data-catid="{{ room.id }}" course-id="{{ room.course.id }}">
			        <div class="chat_img"> <img src="{{ URL_ROOT }}/static/yaksh/images/user-profile.png"> </div>
			        <div class="chat_ib">
			          <h5>{{room.course}} <span class="chat_date">{{room.timestamp}}</span></h5>
			          <p>{{room.messages.last.message}}</p>
			          <small>by <strong>{{room.user}}</strong></small>
			        </div>
				</a>
		      </div>
		    </div>
		  {% endfor %}
		  </div>
		</div>

		<div class="mesgs" id="mesgs">
		</div>
	</div>

</div>
</div>

</div>
{% endblock %}
{% block script %}
	var room_id;
	var course_id;
	$(document).ready(function(){
		$('.view_message').on('click', function(e){
			room_id = $(this).attr("data-catid");
			course_id = $(this).attr("course-id");
			$.ajax({
				url: '{% url 'yaksh:message_box' %}',
				method: 'GET',
				data: {
					room_id: room_id,
				},
				success: function(data){
					$('.mesgs').html(data);
				},
				error: function(data){
					console.log(data);
				}
			});
		});
	});
{% endblock %}