{% extends base_template %}
{% block title %}
	Message(s)
{% endblock %}
{% block main %}
<div class="container">
	<h3 class=" text-center">{% if user_rooms %}Messaging {% else %} No Messages {% endif %}</h3>
	{% if user_rooms %}
			<div class="messaging">
				<div class="inbox_msg">
					<div class="inbox_people">
						  <div class="headind_srch">
						    <div class="recent_heading">
						      <h4>Rooms</h4>
						    </div>
						    {% if not user.profile.is_moderator %}
								<button type="button" class="float-right btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle" aria-hidden="true"></i> Create New Thread</button>
							{% endif %}
						  </div>
						  <div class="inbox_chat">
						  {% for room in user_rooms %}
						    <div class="chat_list room_id_{{room.id}}" id="room_id_{{room.id}}">
						      <div class="chat_people">
								<a href="#{{room.id}}" class="view_message" id = "view_message_{{room.id}}" data-catid="{{ room.id }}" room-title="{{room.title}}" course-id="{{ room.course.id }}">
							        <div class="chat_img"></div>
							        <div class="chat_ib">
							          <p class="text-info"><span class="title_room ">{{room.title}}</span></p>
							          <small>by <strong>{{room.user}}</strong></small>
							          <br>
							          <p><span class="chat_date">{{room.timestamp}}</span></p>
							        </div>
								</a>
						      </div>
						    </div>
						  {% endfor %}
						  </div>
					</div>
					<div class="headind_srch">
					    <div class="recent_heading">
					      <h4>
							<div class="room_title">
							</div>
					      </h4>
					    </div>
					</div>
					<div class="mesgs" id="mesgs">
						{% include 'yaksh/message.html' %}
					</div>
				</div>
			</div>
	{% endif %}
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
	var room_id = "{{ user_rooms.0.id }}";
	var course_id = "{{user_rooms.0.course.id}}";
	var room_title = "{{user_rooms.0.title}}";

	$(document).ready(function(){
		$('.room_id_'+room_id).addClass('active_chat');
		$('.view_message').on('click', function(e){
			room_title = $(this).attr("room-title");
			room_id = $(this).attr("data-catid");
			course_id = $(this).attr("course-id");

			$.ajax({
				url: '{% url 'yaksh:message_box' %}',
				method: 'GET',
				data: {
					room_id: room_id,
				},
				success: function(data){
					$('.room_title').html(room_title);
					$('.mesgs').html(data);
					$('.chat_list').removeClass('active_chat');
					$('.room_id_'+room_id).addClass('active_chat');
				},
				error: function(xhr, errmsg, err){
					console.log(xhr.status + ": " + xhr.responseText);
				}
			});
		});

		$('a').on('click', function(event){
			localStorage.setItem('lastRoom', $(this).attr('href'));
		});

		var lastRoom = localStorage.getItem('lastRoom');
		if(lastRoom){
			console.log(lastRoom);
			 $('[href="' + lastRoom + '"]').click();
		}

		var firstName = $('#message_sender').text();
		var initials = firstName.charAt(0).toUpperCase();
		var incoming_msg_img = $('.chat_img').text(initials);
		$('.room_title').html(room_title);
	});
</script>
{% endblock %}