{% extends "manage.html" %}
{% load custom_filters %}

{% block pagetitle %} Quiz results {% endblock pagetitle %}

{% block meta %} <meta http-equiv="refresh" content="30"/> {% endblock meta %}


{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#result-table").tablesorter({sortList: [[5,1]]});
        var papers_length = "{{papers|length}}";
        for (var i=0; i < papers_length; i++){
            var time_left = $("#time_left"+[i]);
            var time = time_left.text();
            var hh   = Math.floor(time / 3600);
            var mm = Math.floor((time - (hh * 3600)) / 60);
            var ss = time - (hh * 3600) - (mm * 60);
            time_left.text(hh + ":" + mm + ":" + ss)
    }
});
</script>

{% endblock %}


{% block subtitle %}
  {% if not quizzes and not quiz %}
  Quiz Results
  {% endif %}
  {% if quizzes %}
  Available Quizzes
  {% endif %}
  {% if quiz %}
  {{ quiz.description }} Results
  {% endif %}
{% endblock %}
{% block content %}
  {% if not quizzes and not quiz %}
    <center><h5> No quizzes available. </h5></center>
  {% endif %}

{# ############################################################### #}
{# This is rendered when we are just viewing exam/monitor #}
{% if quizzes %}
<ul class="list-group">
{% for q in quizzes %}
<li class="list-group-item"><a href="{{URL_ROOT}}/exam/manage/monitor/{{q.id}}/">{{ q.quiz.description }}</a></li>
{% endfor %}
</ul>
{% endif %}

{# ############################################################### #}
{# This is rendered when we are just viewing exam/monitor/quiz_num #}
{% if quiz %}

{% if papers %}
<p>Number of papers: {{ papers|length }} </p>
{% completed papers as completed_papers %}
 {# template tag used to get the count of completed papers #}
 <p>Papers completed: <b> {{ completed_papers }} </b></p>

{% inprogress papers as inprogress_papers %}
 {# template tag used to get the count of inprogress papers #}
 <p>Papers in progress:<b>  {{ inprogress_papers }} </b></p>

<p><a href="{{URL_ROOT}}/exam/manage/statistics/question/{{papers.0.question_paper.id}}">Question Statisitics</a></p>
<p><a href="{{URL_ROOT}}/exam/manage/monitor/download_csv/{{papers.0.question_paper.id}}">Download CSV</a></p>
<table id="result-table" class="tablesorter table table table-striped">
    <thead>
    <tr>
    <th> Name </th>
    <th> Username </th>
    <th> Roll number </th>  
    <th> Institute </th>
    <th> Questions answered </th> 
    <th> Marks obtained </th>
    <th> Attempts </th>
    <th> Time Remaining </th>
    </tr>
    </thead>
    <tbody>
    {% for paper in latest_attempts %}
    <tr> 
        <td> <a href="{{URL_ROOT}}/exam/manage/user_data/{{paper.user.id}}/{{paper.question_paper.id}}">{{ paper.user.get_full_name.title }}</a> </td>
        <td> {{ paper.user.username }} </td>
        <td> {{ paper.user.profile.roll_number }} </td>
        <td> {{ paper.user.profile.institute }} </td>
        <td> {{ paper.get_answered_str }} </td>
        <td> {{ paper.marks_obtained }} </td>
        <td> {{ paper.answers.count }} </td>
        <td id="time_left{{forloop.counter0}}"> {{ paper.time_left }} </td>
        </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p> No answer papers so far. </p>
{% endif %} {# if papers #}
{% endif %}
{% endblock %}
