{% extends "user.html" %}
{% load humanize %}
{% block title %}
    {{post.title}}
{% endblock title %}

{% block content %}
    <div class="container">
        <a class="btn btn-primary" href="{% url "yaksh:course_forum" post.course.id %}">Back to Posts</a>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                <h3>{{post.title}}</h3>
                <br>
                <small>
                    <strong>{{post.creator.username}}</strong>
                    {{post.created_at|naturaltime}}
                    {% if user.profile.is_moderator %}<a href="{% url "yaksh:hide_post" post.course.id post.uid %}" class="pull-right">Delete</a>{% endif %}
                </small>

            </div>
            <div class="card-body">
                <p>{{post.description}}</p>
                {% if post.image %}
                    <a href="{{post.image.url}}" target="_blank">
                        <img src="{{post.image.url}}" class="post_image" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="card">
            {% if comments %}
                <div class="card-header">Comments:</div>
                {% for comment in comments %}
                    <div class="card-body">
                        {% if comment.image %}
                            <a href="{{comment.image.url}}" target="_blank">
                                <img src="{{comment.image.url}}" class='comment_image'>
                            </a>
                        {% endif %}
                        <p>{{comment.description}}</p>
                        <small class="pull-right">
                            by: <strong>{{comment.creator.username}} </strong>. {{comment.created_at|naturaltime}}
                            {% if user.profile.is_moderator %}<a href="{% url "yaksh:hide_comment" post.course.id comment.uid %}">Delete</a>{% endif %}
                        </small>
                    </div>
                {% endfor %}
            {% else %}
                    No comments on this post.
            {% endif %}
        </div>
        <br>
        <div>
            <form action="{% url "yaksh:post_comments" post.course.id post.uid %}" method="POST" enctype='multipart/form-data'>
                <div class="form-group">
                    {% csrf_token %}
                    {{form}}
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock content %}