{% extends "base.html" %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/yaksh_banner.png' %}" alt="YAKSH">
    </a>
</nav>
{% endblock %}
<!DOCTYPE html>

{% block script %}
<script>
    window.setTimeout(function(){ location.href="{% url 'yaksh:index' %}" }, 2000);
</script>
{% endblock script %}
{% block content %}
<center>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3>Your Profile is changed</h3>
                <h3>Redirecting...</h3>
            </div>
        </div>
        <div class="col"><img src="{% static 'yaksh/images/profile_change.gif' %}"></div>
    </div>
</center>
{% endblock content %}
