{% extends "base.html" %}

<!DOCTYPE html>

{% block title %} Answer question {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/question.css" type="text/css" />

{% endblock %}

{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/question.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/bootstrap-modal.js"></script>

<script>
var time_left = {{ paper.time_left }}

function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function updateTime()
{
var timeInSeconds = time_left;
var currentTime = Date.parse(new Date());
var deadline = new Date(currentTime + timeInSeconds*1000);

function updateClock(){
    var t = getTimeRemaining(deadline);
    var hh = ('0' + t.hours).slice(-2);
    var mm = ('0' + t.minutes).slice(-2);
    var ss = ('0' + t.seconds).slice(-2);

    if(t.total<0){
      	
      document.forms["code"].submit();
      clearInterval(timeinterval);
      return null;
    }
    if (t.total<=300000){
      clock.innerHTML = "<blink><span style='color:red'><strong>" + hh + ":" + mm + ":" + ss + "</strong></span></blink>";
    }
    if (t.total>=300000) {
      clock.innerHTML = "<strong>" + hh + ":" + mm + ":" + ss + "</strong>";
    }
  }

var clock = document.getElementById("time_left");
updateClock();
var timeinterval = setInterval(updateClock,1000);
}

function setSnippetHeight()
{
    var ta = document.getElementById('snippet');
    var height = ta.scrollHeight+'px';
    ta.style.height = 'auto';
    ta.style.height = height;
    autoresize();
}

function validate(){
    uploaded_file = document.getElementById("assignment").value;
    if(uploaded_file == ""){
        $("#upload_alert").modal("show");
        return false;
    }
    else
    {
        return true;
    }
}

function call_skip(url)
{
    form = document.forms["code"]
    form.action = url
    form.submit();
}
    {% if error_message == 'Correct Output'%}
	{% if paper.questions_left  %}
	window.setTimeout(function()
	{   
		{% for qid in paper.questions.all  %}
        location.href="{{ URL_ROOT }}/exam/{{ qid.id }}/check/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/"
		{% endfor %}		
	}, 2000);
	{% else %}
	window.setTimeout(function()
	{   
		location.href="{{ URL_ROOT }}/exam/{{ question.id }}/check/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/"
	}, 2000);
    {% endif %}
	{% endif %}
</script>

{% endblock script %}

{% block onload %} onload="updateTime();setSnippetHeight()" {% endblock %}

{% block content %}
<div class="topbar">
  <div class="fill">
     <div class="container">
        <h3 class="brand"><strong>Online Test</h3></strong>
        <h5><a> Hi {{ paper.user.first_name.title}} {{ paper.user.last_name.title}} </a></h5>
        <div class=time-div id="time_left"></div><br>
        <b style="color: white; font-size: 14px;">You have {{ paper.questions_left }} question(s) left in {{ paper.question_paper.quiz.description }}</b>
     </div>
   </div>
</div>
<div class = "container">
  <div class="sidebar">
    <p>Question Navigator </p>
    <div class="pagination">
        <ul>
            {% for qid in paper.questions.all %}
                {% if qid in paper.questions_unanswered.all %}
                {% if qid.id == question.id %}
                <li class="active"><a href="#"data-toggle="tooltip" title="{{ qid.description }}" onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/')">{{ forloop.counter }}</a></li>
                    {% else %}
                    <li><a href="#" data-toggle="tooltip" title="{{ qid.description }}" onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/')">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endif %}
                {% if qid in paper.questions_answered.all %}
                    <li class="disabled"><a href="#" data-toggle="tooltip" title="{{ qid.description }}" >{{ forloop.counter }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
<div class="span13">
  <h4><u> {{ question.summary }} </u><font class=pull-right>(Marks : {{ question.points }}) </font></h4><br>
  <font size=3 face=arial> {{ question.description|safe }} </font>
  <br><font size=3 face=arial> Language: {{ question.language }} </font><br>

  {% if question.type == "code" %}
  <br><h3>Output:</h3></br>
    {% if error_message %}
    <div class="alert alert-error">
      <textarea class="error" readonly="yes">{{ error_message }}</textarea>
	{% else %}
	  <textarea class="error_msg" readonly="yes"  placeholder="Please submit your answer below"></textarea>
	{% endif %}
	</div>
  {% endif %}
<br> 
         <p id="status"></p>
         <form id="code" action="{{URL_ROOT}}/exam/{{ question.id }}/check/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <input type=hidden name="question_id" id="question_id" value={{ question.id }}></input>

         {% if question.type == "mcq" %}
         {% for test_case in test_cases %}
         <input name="answer" type="radio" value="{{ test_case.options }}" />{{ test_case.options }} <br/>
         {% endfor %}
         {% endif %}
         {% if question.type == "mcc" %}
         {% for test_case in test_cases %}
         <input name="answer" type="checkbox" value="{{ test_case.options }}"> {{ test_case.options }}
         <br>
         {% endfor %}
         {% endif %}
         {% if question.type == "upload" %}
         <p>Upload assignment file for the said question<p>
         <input type=file id="assignment" name="assignment">
         <hr>
         {% endif %}
         {% if question.type == "code" %}
        <h3>Program:</h3>
        <textarea rows="1" class="bash" readonly="yes"  name="snippet" id="snippet" wrap="off" >{% if last_attempt %}{{ question.snippet }}{% else %}{% if question.type == "bash" %} #!/bin/bash&#13;&#10;{{ question.snippet }}{% else %}{{ question.snippet }}{% endif %}{% endif %}</textarea>
        <textarea rows="10" class="bash" name="answer" id="answer" wrap="off" onkeydown="return catchTab(this,event)">{% if last_attempt %}{{last_attempt}}{% else %}{% if question.type == "bash" %}{% else %}{% endif %}{% endif %}</textarea>
<br>

 <script type="text/javascript">
       addLineNumbers('answer');
   </script>
       <script>addLineNumbers('snippet');</script>
         {% endif %}
 
         {% if question.type == "mcq" or question.type == "mcc "%}
         <br><button class="btn" type="submit" name="check" id="check">Submit Answer</button>&nbsp;&nbsp;
         {% elif question.type == "upload" %}
         <br><button class="btn" type="submit" name="check" id="check" onClick="return validate();">Upload</button>&nbsp;&nbsp;
         {% else %}
         <button class="btn" type="submit" name="check" id="check" onClick="submitCode();">Check Answer</button>&nbsp;&nbsp;
         {% endif %}
         {% if paper.unanswered.all|length != 1 %}
             <button class="btn"  onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/')" name="skip" id="skip">Attempt Later</button>
         {% endif %}
         </form>
</div>     

    <!-- Modal -->
    <div class="modal fade " id="upload_alert" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">File not selected</h4>
          </div>
          <div id = "modal_body"class="modal-body">
              <font color="brown"><b>Kindly attach a file and then click upload.</b></font>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn primary close" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
   </div>
	<form id="logout" action="{{URL_ROOT}}/exam/quit/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/" method="post" class="pull-right">
        {% csrf_token %}
        <button class="btn" type="submit" name="quit">Quit Exam</button>
	</form>
{% endblock content %}
