{% extends "base.html" %}
{% load custom_filters %}

{% block nav %}
<nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
      </div>

        <div id="navbar">
            <div class="time-div" id="time_left"></div>
          </ul>
        </div><!-- /.navbar -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
{% endblock %}
{% block pagetitle %} Yaksh Online Test {% endblock pagetitle %}
{% block css %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/question.css" type="text/css" />
<link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/codemirror/lib/codemirror.css" type="text/css" />
{% endblock %}

{% block script %}
<script src="{{ URL_ROOT }}/static/yaksh/js/question.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/codemirror/lib/codemirror.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/codemirror/mode/python/python.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/codemirror/mode/clike/clike.js"></script>
<script src="{{ URL_ROOT }}/static/yaksh/js/codemirror/mode/shell/shell.js"></script>

<script>
var time_left = {{ paper.time_left }}

function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function updateTime()
{
var timeInSeconds = time_left;
var currentTime = Date.parse(new Date());
var deadline = new Date(currentTime + timeInSeconds*1000);

function updateClock(){
    var t = getTimeRemaining(deadline);
    var hh = ('0' + t.hours).slice(-2);
    var mm = ('0' + t.minutes).slice(-2);
    var ss = ('0' + t.seconds).slice(-2);

    if(t.total<0){
      	
      document.forms["code"].submit();
      clearInterval(timeinterval);
      return null;
    }
    if (t.total<=300000){
        clock.innerHTML = "<blink><center><span style='color:red'><strong>" + hh + ":" + mm + ":" + ss + "</strong></center></span></blink>";
    }
    if (t.total>=300000) {
        clock.innerHTML = "<center><strong>" + hh + ":" + mm + ":" + ss + "</strong></center>";
    }
  }

var clock = document.getElementById("time_left");
updateClock();
var timeinterval = setInterval(updateClock,1000);
}

function validate(){
    uploaded_file = document.getElementById("assignment").value;
    if(uploaded_file == ""){
        $("#upload_alert").modal("show");
        return false;
    }
    else
    {
        return true;
    }
}

function call_skip(url)
{
    form = document.forms["code"]
    form.action = url
    form.submit();
}
</script>

{% endblock script %}

{% block onload %} onload="updateTime();" {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <ul class="pagination pagination-lg">
            {% for qid in paper.questions.all %}
                {% if qid in paper.questions_unanswered.all %}
                {% if qid.id == question.id %}
                <li class="active"><a href="#"data-toggle="tooltip"
                title="{{ qid.description|striptags }}"
                onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/')">{{ forloop.counter }}</a></li>
                    {% else %}
                    <li><a href="#" data-toggle="tooltip" title="{{ qid.description|striptags }}"
                    onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/')">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endif %}
                {% if qid in paper.questions_answered.all %}
                    <li class="disabled"><a style="background-color:#B4B8BA" href="#" data-toggle="tooltip" title="{{ qid.description }}" >{{ forloop.counter }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-5">
        <h3>{{ paper.questions_left }} question(s) left in {{ paper.question_paper.quiz.description }}</h3>
    </div>
    <div class="col-md-1">
<form id="logout" action="{{URL_ROOT}}/exam/quit/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/" method="post" class="pull-right">
        {% csrf_token %}
        <button class="btn btn-danger " type="submit" name="quit">Quit Exam <span class="glyphicon glyphicon-off"></span></button>
</form>
    </div>

</div>
         <p id="status"></p>
         <form id="code" action="{{URL_ROOT}}/exam/{{ question.id }}/check/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <input type=hidden name="question_id" id="question_id" value={{ question.id }}></input>
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4><u> {{ question.summary }}
                             {% if question.type == "mcq" %}
                             (MCQ)
                             {% elif question.type == "mcc" %}
                             (MCC)
                             {% elif question.type == "code" %}
                             (PROGRAMMING)
                             {% elif question.type == "upload" %}
                             (ASSIGNMENT UPLOAD)
                             {% endif %}
                         </u>
                         <font class=pull-right>(Marks : {{ question.points }}) </font>
                      </h4>
                      <font size=3 face=arial> {{ question.description|safe }} </font>
                      {% if files %}
                      <h4>Files to download for this question</h4>
                      {% for f_name in files %}
                      <h5><a href="{{f_name.file.url}}">{{f_name.file.name}}</a></h5>
                      {% endfor %}
                      {% endif %}
                 </div>
                 <div class="panel-body">
                     {% if question.type == "mcq" %}
                    {% if error_message %}
                        <p>{{ error_message }}</p>
                    {% endif %}
                     {% for test_case in test_cases %}
                     <input name="answer" type="radio" value="{{ test_case.options }}" />{{ test_case.options }} <br/>
                     {% endfor %}
                     {% endif %}
                     {% if question.type == "mcc" %}
                    {% if error_message %}
                        <p>{{ error_message }}</p>
                    {% endif %}
                     {% for test_case in test_cases %}
                     <input name="answer" type="checkbox" value="{{ test_case.options }}"> {{ test_case.options }}
                     <br>
                     {% endfor %}
                     {% endif %}
                     {% if question.type == "upload" %}
                     <p>Upload assignment file for the said question<p>
                     <input type=file id="assignment" name="assignment">
                     <hr>
                     {% endif %}
                     {% if question.type == "code" %}
                     <div class="row">
                         <div class="col-md-2">
                             <h4>Program:</h4>
                         </div>
                         <div class="col-md-10">
                             <a href="#" class="pull-right" onclick="reset_editor()" name="reset" id="reset">Reset Answer <span class="glyphicon glyphicon-refresh"></span></a>
                             </div>
     </div>
                     <textarea name="answer" id="answer"></textarea>
                     <br>
                     {% endif %}
        <div class="from-group">

         {% if question.type == "mcq" or question.type == "mcc"%}
         <br><button class="btn btn-primary" type="submit" name="check" id="check">Submit Answer</button>&nbsp;&nbsp;
         {% elif question.type == "upload" %}
         <br><button class="btn btn-primary" type="submit" name="check" id="check" onClick="return validate();">Upload</button>&nbsp;&nbsp;
         {% else %}
         <button class="btn btn-primary" type="submit" name="check" id="check" onClick="submitCode();">Check Answer <span class="glyphicon glyphicon-cog"></span></button>&nbsp;&nbsp;
         {% endif %}
         {% if paper.unanswered.all|length != 1 %}
         <button class="btn btn-primary"  onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ paper.attempt_number }}/{{ paper.question_paper.id }}/')" name="skip" id="skip">Attempt Later <span class="glyphicon glyphicon-arrow-right"></span></button>
         {% endif %}
         </div>
     {% if question.type == "code" %}
                     <div class="panel-footer">

     {% if error_message %}
      {% for error in error_message %}
      {% if error == "Correct answer" %}
              <div class="panel panel-success">
          {% else %}
              <div class="panel panel-danger">
          {% endif %}
      <div class="panel-heading">Testcase No. {{ forloop.counter }}</div>
      <div class="panel-body"><pre><code>{{ error }}</code></pre></div>
      </div>
      {% endfor %}

      {% endif %}
     </div>
     {% endif %}
                 </div>
             </div>

             </form>
    <!-- Modal -->
    <div class="modal fade " id="upload_alert" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">File not selected</h4>
          </div>
          <div id = "modal_body"class="modal-body">
              <font color="brown"><b>Kindly attach a file and then click upload.</b></font>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn primary close" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
   </div>

<script>
  // Codemirror object, language modes and initial content
  // Get the textarea node
  var textarea_node = document.querySelector('#answer');

  var lang = "{{ question.language }}"
  var mode_dict = {
    'python': 'python',
    'c': 'text/x-csrc',
    'cpp': 'text/x-c++src',
    'java': 'text/x-java',
    'bash': 'text/x-sh',
    'scilab': 'text/x-csrc'
  }

  // Code mirror Options
  var options = {
      mode: mode_dict[lang],
      gutter: true,
      lineNumbers: true,
   
      onChange: function (instance, changes) {
          render();
      }
  };

  // Initialize the codemirror editor
  var editor = CodeMirror.fromTextArea(textarea_node, options);

  // Setting code editors initial content
  editor.setValue('{{ last_attempt|escape_quotes|safe }}')

  function reset_editor() {
      editor.setValue('{{ last_attempt|escape_quotes|safe }}');
      editor.clearHistory();
  }

</script>

{% endblock content %}
