{% extends "user.html" %}
{% block title %} Student Dashboard {% endblock %}

{% block main %}
    <div class="container">
        <center>
            <h2>{{title}}</h2>
        </center>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form action="{% url 'yaksh:quizlist_user' %}" method="post" id="custom-search-form">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" name="course_code" class="form-control" type="search"  placeholder="Enter course code to search" required="">
                            <span class="input-group-append">
                                <button class="btn btn-outline-info" type="submit"><i class="fa fa-search"></i>&nbsp;Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            {% if "Search" in title %}
                <div class="col-md-4">
                    <a href="{% url 'yaksh:quizlist_user' %}" class="btn btn-outline-danger">
                        <i class="fa fa-times"></i>&nbsp;Clear search
                    </a>
                </div>
            {% endif %}
        </div>
        <br>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-close"></i>
                </button>
                <strong>{{ message }}</strong>
            </div>
            <br>
            {% endfor %}
        {% endif %}
        {% if not enrolled_courses or not remaining_courses %}
            <center>
                <div class="col-md-8 alert alert-warning" role="alert">
                    No Courses to display
                </div>
            </center>
        {% endif %}
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-12">
                <div id="accordian">
                    <!--Enrolled Courses-->
                    <center><h3><u>Enrolled Courses</u></h3></center>
                    {% for course in enrolled_courses %}
                        {% include 'yaksh/all_courses.html' %}
                    {% endfor %}
                    <!--Remaining Courses-->
                    <center><h3><u>Other Courses</u></h3></center>
                    {% for course in remaining_courses %}
                        {% include 'yaksh/all_courses.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}