{% extends "manage.html" %}
{% load staticfiles %}

{% block title %} Questions {% endblock %}

{% block pagetitle %} Questions {% endblock pagetitle %}

{% block script %}
<script type="text/javascript" src="{% static 'yaksh/js/show_question.js' %}"></script>
<script type="text/javascript" src="{% static 'yaksh/js/question_filter.js' %}"></script>
<script type="text/javascript" src="{% static 'yaksh/js/jquery.tablesorter.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <!-- Side bar -->
  <div class="nav nav-pills" id="sidebar" role="tablist" aria-orientation="vertical">
    <a href="#show" id="showbar" class="nav-link active"  data-toggle="pill" role="tab" aria-controls="show" aria-selected="true"> Show all Questions</a>
    <a href="#updown" id="updownbar" class="nav-link" data-toggle="pill" role="tab" aria-controls="updown" aria-selected="false" > Upload and Download Questions</a>
  </div>
  <!-- End of side bar -->
  <div class="tab-content">
    <br>
    <!-- Upload Questions -->
    <div id="updown" class="card tab-pane fade" role="tabpanel" aria-labelledby="updownbar">
      <div class="col" role="alert">
        <p>You can upload question files the following ways -
          <li><b><u>Yaml File</u></b>
            <p>One can upload Yaml file with extensions .yaml or .yml. Please note
              that you cannot upload files associated to a question. Yaml file can
              have any name.
            </p>
          </li>
          <li><b><u>Zip File</u></b>
           <p> One can also upload zip with the following zip structure - </p>
            <pre>
              .zip
              |-- .yaml or .yml
              |-- .yaml or .yml
              |-- folder1
              |   |-- Files required by questions
              |-- folder2
              |   |-- Files required by questions
            </pre>
          </li>
        </p>
      </div>
      <div class="card-body">
        <div><a class="btn btn-lg btn-primary" href="{% url 'yaksh:download_yaml_template' %}">Download Template</a></div>
        <br/>
        <h4> Or </h4>
        <form action="" method="post"  enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  {{ upload_form.as_p }}
                </div>
              </div>
            </div>
          <h4>And</h4>
          <button class="btn btn-lg btn-success" type="submit" name="upload" value="upload">Upload File</button>
        </form>
      </div>
    </div>
    <!-- End of upload questions -->

    <!-- Show questions -->
    <div id="show" class="tab-pane fade show active" role="tabpanel" aria-labelledby="showbar">
      <form name=frm action="" method="post">
        {% csrf_token %}
        {% if message %}
          {%if message == "Questions Uploaded Successfully"%}
            <div class="alert alert-success alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"><span class="fa fa-window-close"></span></a>
                {{ message }}
            </div>
          {%else %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"><span class="fa fa-window-close"></span></a>
              {{ message }}
            </div>
          {% endif %}
        {% endif %}
        {% if msg %}
          <div class="alert alert-danger alert-dismissable animated flash">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><span class="fa fa-window-close"></span></a>
            {{ msg }}
          </div>
        {% endif %}
      </form>
      <form name=frm action="" method="post">
        <div class="card">
          <div class="card-body">
            <!-- Filtering Questions  -->
            <div id="selectors">
              <h4>Filters Questions: </h4>
              <div class="dropdown">
                  {{ form.question_type }} {{ form.language }} {{ form.marks }}
              </div>
            </div>
            <hr>
            <h4 >Or Search using Tags: </h4>
            <!-- Searching Tags -->
            {% csrf_token %}
            <div class="col-md-14">
              <div class="input-group">
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Search Questions</span>
                    </div>
                    <input type="text" name="question_tags" id="question_tags" class="form-control" type="search"  placeholder="Search using comma separated Tags">
                    <span class="input-group-append">
                      <a class="btn btn-outline-secondary" type="submit"><i class="fa fa-search yakshred"></i></a>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <select class="form-control" id="sel1" onchange="append_tag(this);">
                    {% if all_tags %}
                     <option value="" disabled selected>Available Tags</option>
                    {% for tag in all_tags %}
                    <option>
                        {{tag}}
                    </option>
                    {% endfor %}
                    {% else %}
                     <option value="" disabled selected>No Available Tags</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <br/>
            <a class="btn btn-lg btn-primary" href="{% url 'yaksh:show_questions' %}">
             Clear Filters</a>
          </div>
        </div>
        <div id="filtered-questions">
          {% if questions %}
            <div>
              <br>
              {% include "yaksh/paginator.html" %}
              <br>
              <h5><input id="checkall" type="checkbox"> Select All </h5>
               <div class="table-wrapper-2">
                  <table id="questions-table" class="tablesorter table  table-striped table-responsive-sm">
                    <thead>
                      <tr class="yakshred">
                        <th> Select </th>
                        <th> Summary </th>
                        <th> Language </th>
                        <th> Type </th>
                        <th> Marks </th>
                      </tr>
                    </thead>
                    <tbody>              
                      {% for question in questions %}
                      <tr>
                        <td>
                         <input type="checkbox" name="question" value="{{ question.id }}">
                        </td>
                        <td><a href="{% url 'yaksh:add_question' question.id %}">{{question.summary|capfirst}}</a></td>
                        <td>{{question.language|capfirst}}</td>
                        <td>{{question.type|capfirst}}</td>
                        <td>{{question.points}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          {% include "yaksh/paginator.html" %}
          {% endif %}
        </div>
        <center>
          <a class="btn btn-lg btn-primary" href="{% url 'yaksh:add_question' %}">Add Question</a>

          {% if questions %}
            <button class="btn btn-lg btn-primary" type="submit" name='download' value='download'>Download Selected</button>
            <button class="btn btn-lg btn-primary" type="submit" name="test" value="test">Test Selected</button>
          {% endif %}
          <button class="btn btn-lg btn-danger" type="submit" onClick="return confirm_delete(frm);" name='delete' value='delete'>Delete Selected</button>
        </center>
      </form>
    </div>
    <!-- End of Show questions -->
  </div>
</div>
{% endblock %}

