{% extends "user.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} {{ learning_module.name }} {% endblock %}
{% block script %}
<script type="text/javascript">
    var player;
    var contents_by_time = JSON.parse('{{ contents_by_time|safe }}');
    var loc = 0;
    var video_time = [];
    var markers = [];
    var track_count = 0;
</script>
<script type="text/javascript" src="{% static 'yaksh/js/show_toc.js' %}">
</script>
<script src="{% static 'yaksh/js/jquery-sortable.js' %}"></script>
<script type="text/javascript" src="{% static 'yaksh/js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
{% endblock %}
{% block main %}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header bg-info">
            <a class="text-white" href="{% url 'yaksh:course_modules' course.id %}">
                {{course.name}}
            </a>
        </div>
        {% for module in all_modules %}
            <div id="accordian">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <a href="{% url 'yaksh:view_module' module.id course.id %}">
                                    {{module.name}}
                                    {% if learning_module.id == module.id %}
                                    <i class="fa fa-edit"></i>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{module.id}}">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if learning_module.id == module.id %}
                        <div id="collapse{{module.id}}" class="collapse show" data-parent="#accordion">
                    {% else %}
                        <div id="collapse{{module.id}}" class="collapse hide" data-parent="#accordion">
                    {% endif %}
                        <div class="card-body">
                            {% for unit in module.get_learning_units %}
                                {% get_unit_status course module unit user as status %}
                                {% if unit.type == "quiz" %}
                                    {% if unit.quiz.questionpaper_set.get.id %}
                                        <a href="{% url 'yaksh:start_quiz' unit.quiz.questionpaper_set.get.id module.id course.id %}" class="list-group-item">
                                            {% if status == "completed" %}
                                              <i class="fa fa-check-square"></i>
                                            {% else %}
                                              <i class="fa fa-square-o"></i>
                                            {% endif %}
                                            {{ unit.quiz.description }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'yaksh:show_lesson' unit.lesson.id module.id course.id %}" class="list-group-item">
                                        {% if status == "completed" %}
                                          <i class="fa fa-check-square"></i>
                                        {% else %}
                                          <i class="fa fa-square-o"></i>
                                        {% endif %}
                                        {{ unit.lesson.name }}
                                        {% if unit.id == current_unit.id %}
                                            <i class="fa fa-play-circle" data-toggle="tooltip" title="Currently on">
                                            </i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-outline-info">
            <i class="fa fa-navicon fa-lg"></i>
        </button>
        <br><br>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                {{course.name}}
            </li>
            <li class="breadcrumb-item">
                {{ learning_module.name }}
            </li>
            {% if state == "lesson" %}
                <li class="breadcrumb-item active">{{lesson.name}}</li>
            {% endif %}
        </ol>
        <br>
        {% if msg %}
            <center>
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fa fa-close"></i>
                    </button>
                    <strong>{{ msg }}</strong>
                </div>
            </center>
        {% endif %}


        {% if state == "module" %}  <!-- Module instructions body -->
            {% if learning_module.html_data %}
                {{learning_module.html_data|safe}}
            {% else %}
                No Module information
            {% endif %}
            <br>
            {% if first_unit %}
                <a href="{% url 'yaksh:next_unit' course.id learning_module.id first_unit.id '1' %}" class="btn btn-success btn-lg">Start
                    <i class="fa fa-play">
                    </i>
                </a>
            {% else %}
                <a href="{% url 'yaksh:next_unit' course.id learning_module.id %}" class="btn btn-success btn-lg">Next
                    <i class="fa fa-step-forward">
                    </i>
                </a>
            {% endif %}
        {% else %}    <!--  Lesson body   -->
            <!-- Lesson Table of contents -->
            <div class="row">
                {% if lesson.video_path %}
                    <div class="col-md-8">
                        <div class="card-body">
                            {% with lesson.video_path|video_name as video %}
                                {% if video.1 == "others" %}
                                <video id="player" playsinline controls>
                                    <source src="{{video.0}}" />
                                </video>
                                {% else %}
                                <div id="player" data-plyr-provider="{{video.1}}" data-plyr-embed-id="{{video.0}}"></div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    {% if toc %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#toc-collapse">
                                    Table Of Contents&nbsp;<i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                            <div class="collapse show" id="toc-collapse">
                                <div class="card-body" id="toc" style="max-height: 400px; overflow-y: auto;">
                                    <table class="table table-responsive">
                                        {% for content in toc %}
                                            {% with content.get_toc_text as toc_name %}
                                            <tr>
                                                <td>
                                                    <a href="#" onclick="select_toc(this);" data-toc="{{content.id}}" data-toc-type="{{content.content}}">
                                                        {{ toc_name }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{content.get_content_display}}
                                                </td>
                                                <td id="toc_time_{{content.id}}">
                                                    {{content.time}}
                                                </td>
                                                <input type="hidden" id="toc_{{content.id}}" value="{% url 'yaksh:get_marker_quiz' course.id content.id %}" data-content="{{content.content}}"/>
                                                <input type="hidden" id="toc_desc_{{content.id}}" value="{{content.content_object.description|safe}}" data-content="{{content.content}}"/>
                                            </tr>
                                            {% endwith %}
                                        {% empty %}
                                            <center class=table-responsive>
                                                <span class="badge badge-warning">No Table of contents added</span>
                                            </center>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="col-md-8">
                    <form action="{% url 'stats:add_tracker' track_id %}" method="POST" id="track-form">
                        {% csrf_token %}
                        <input type="hidden" name="video_duration" id="video_duration">
                        <input type="hidden" name="current_video_time" id="current_video_time">
                    </form>
                    <div class="card">
                        <div class="card-header"><h3><strong>Lesson Description</strong></h3></div>
                        <div class="card-body">
                            <div class="col" style="width: 100%">
                                {{lesson.html_data|safe}}
                            </div>
                            <div class="card-body" id="topic-description"></div>
                            <div class="col-md-7">
                            {% with lesson.get_files as lesson_files %}
                                {% if lesson_files %}
                                    <div class="card">
                                        <div class="card-header">
                                            Files for this lesson
                                        </div>
                                        <div class="card-body">
                                            {% for f in lesson_files %}
                                                <a href="{{f.file.url}}" class="list-group-item">
                                                    {{forloop.counter}}.{{ f.file.name|file_title }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="{% url 'yaksh:next_unit' course.id learning_module.id current_unit.id %}" class="btn btn-info btn-lg" id="next_unit">
                    Next&nbsp;<i class="fa fa-step-forward"></i>
            </a>
        {% endif %}
        {% if state == 'lesson' %}
            <div class="col-md-8">
                <hr>
                <b><u>Comments:</u></b>
                <form action="" method="POST" enctype='multipart/form-data'>
                    <div class="form-group">
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <input type="submit" value="Submit" class="btn btn-success btn-lg">
                </form>
            </div>
        {% endif %}
        <br>
        {% if comments %}
            {% for comment in comments %}
                <div class="card mb-2 col-md-8">
                    <div class="card-body p-3">
                        <div class="row mb-3">
                            <div class="col-6">
                                <strong class="text-muted">
                                    {% if comment.anonymous %}
                                        Anonymous
                                    {% else %}
                                        {{comment.creator.username}}
                                    {% endif %}
                                </strong>
                            </div>
                            <div class="col-6 text-right">
                                <small class="text-muted">{{comment.created_at}} {% if user.profile.is_moderator %} <a href="{% url 'yaksh:hide_comment' course.id comment.uid %}" class="fa fa-trash"></a>{% endif %}</small>
                            </div>
                        </div>
                        <p class="card-text description">{{comment.description|safe}}</p>
                        <div>
                            {% if comment.image %}
                                <a href="{{comment.image.url}}" target="_blank">
                                    <center><img src="{{comment.image.url}}" class="comment_image thumbnail" alt=""></center>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="lesson_quiz_question"></div>
    </div>
  </div>
</div>
{% endblock %}

