{% extends "user.html" %}
{% load custom_filters %}

{% block title %} {{ learning_module.name|title }} {% endblock %}

{% block pagetitle %} {{ learning_module.name|title }} {% endblock %}

{% block usersidebar %}
<br><br><br>
<center><h3>Lessons/Quizzes</h3></center>
<ul class="list">
{% for unit in learning_units %}
<span>
<li>
{% get_unit_status course learning_module unit user as status %}

{% if unit.id == current_unit.id %}
    <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Currently on">
    </span>
{% endif %}
{% if unit.learning_type == "quiz" %}
    <a href="{{ URL_ROOT }}/exam/start/{{unit.quiz.questionpaper_set.get.id}}/{{learning_module.id}}/{{course.id}}">
        {{ unit.quiz.description }}
    </a>
{% else %}
    <a href="{{ URL_ROOT }}/exam/show_lesson/{{unit.lesson.id}}/{{learning_module.id}}/{{course.id}}">
        {{ unit.lesson.name }}
    </a>
{% endif %}
{% if status == "completed" %}
  <span class="glyphicon glyphicon-ok" style="color: #7CFC00;"></span>
{% else %}
  <span class="glyphicon glyphicon-remove" style="color:  #FF0000"></span>
{% endif %}
</li>
</span>
<br>
{% endfor %}
</ul>
{% endblock %}

{% block main %}
{% if msg %}
<center>
<div class="col-md-12 col-md-offset-1 main">
<div class="alert alert-warning">{{msg}}</div></div>
</center>
{% endif %}
<div class="col-md-12 col-md-offset-1 main">
{% if state == "module" %}
<div class="panel panel-default">
    <div class="panel-body">
        {{learning_module.html_data|safe}}
    </div>
</div>
<div style="text-align: center;">
    <a href="{{ URL_ROOT }}/exam/next_unit/{{course.id}}/{{learning_module.id}}/{{first_unit.id}}/1" class="btn btn-info">First Unit
        <span class="glyphicon glyphicon-chevron-right">
        </span>
    </a>
</div>
{% else %}
<center><h3>{{lesson.name}}</h3></center>
<div class="panel panel-default">
    <div class="panel-body">
        {{lesson.html_data|safe}}
    </div>
</div>
<div style="text-align: center;">
    <a href="{{ URL_ROOT }}/exam/next_unit/{{course.id}}/{{learning_module.id}}/{{current_unit.id}}" class="btn btn-info" style="display: inline-block;">Next Unit
        <span class="glyphicon glyphicon-chevron-right">
        </span>
    </a>
</div>
{% endif %}
</div>
{% endblock %}