{% extends "manage.html" %}
{% load static %}
{% load custom_filters %}
{% block title %} Lesson Quiz Stats {% endblock %}
{% block pagetitle %} Statistics for {{lesson}} {% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'yaksh/js/jquery.tablesorter.min.js' %}">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $.tablesorter.addWidget({
            id: "numbering",
            format: function(table) {
                var c = table.config;
                $("tr:visible", table.tBodies[0]).each(function(i) {
                    $(this).find('td').eq(0).text(i + 1);
                });
            }
        });
        $("#stats-table").tablesorter({
            headers: {
                0: { sorter: false }
            },
            widgets: ['numbering']
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-primary" href="{% url 'yaksh:get_course_modules' course_id %}">
                <i class="fa fa-arrow-left"></i>&nbsp;Back
            </a>
        </div>
    </div>
    <br>
    {% if data %}
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                {% for toc, count in data.items %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            {{ toc.content_object.summary }}
                        </div>
                        <div class="col-md-4">
                            <span class="badge badge-pill badge-info">
                                {{toc.get_content_display}}
                            </span>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'yaksh:lesson_statistics' toc.course_id toc.lesson_id toc.id %}" class="btn btn-outline-primary">
                                <i class="fa fa-info-circle"></i>&nbsp;Details
                            </a>
                        </div>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-7">
            {% if not is_que_data %}
                <table class="table table-responsive">
                    <tr>
                        <th>TOC</th>
                        <th>Type</th>
                        <th>Submissions</th>
                    </tr>
                    {% for toc, count in data.items %}
                        <tr>
                            <td>{{ toc.content_object.summary }}</td>
                            <td>{{ toc.get_content_display }}</td>
                            <td>{{ count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="card">
                    <div class="card-header">
                        <b>{{question.summary}}</b>
                        <div style="font-size: 20px">
                        {% if question.language == "other" %}
                          <small class="text text-muted"><strong>Topic:</strong> <span class="badge badge-primary">{{question.topic}}</small></span>
                        {% else %}
                          <small class="textx text-muted"><strong>Language:</strong> <span class="badge badge-primary">{{question.language}}</span></small>
                        {% endif %}
                        {% if question.type == "mcq" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">SINGLE CORRECT CHOICE</span></small>
                        {% elif question.type == "mcc" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">MULTIPLE CORRECT CHOICES</span></small>
                        {% elif question.type == "code" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">PROGRAMMING</span></small>
                        {% elif question.type == "upload" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">ASSIGNMENT UPLOAD</span></small>
                        {% elif question.type == "integer" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">FILL IN THE BLANKS WITH INTEGER ANSWER</span></small>
                        {% elif question.type == "string" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">FILL IN THE BLANKS WITH STRING ANSWER</span></small>
                          {% if testcase.string_check == "lower" %}
                              <br>(CASE INSENSITIVE)
                          {% else %}
                              <br>(CASE SENSITIVE)
                          {% endif %}
                        {% elif question.type == "float" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">FILL IN THE BLANKS WITH FLOAT ANSWER</span></small>
                        {% elif question.type == "arrange" %}
                          <small class="text text-muted"><strong>Type:</strong> <span class="badge badge-primary">ARRANGE THE OPTIONS IN CORRECT ORDER</span></small>
                        {% endif %}
                        <span class="badge badge-info pull-right">
                          <small><strong>Marks: {{ question.points }}</strong></small>
                        </span>
                      </div>
                    </div>
                    <div class="card-body">
                        {{question.description|safe}}
                        <br>
                        {% for tc in question.get_test_cases %}
                            {% if question.type == "mcc" or question.type == "mcq" %}
                            {% if tc.correct %}
                            <span class="badge badge-pill badge-success">
                                {{forloop.counter}}.
                            </span>
                            {% else %}
                            <span class="badge badge-pill badge-dark">
                                {{ forloop.counter }}.
                            </span>
                            {% endif %}
                            {{tc.options}}
                            {% if per_tc_ans %}
                                {% get_tc_percent tc.id per_tc_ans as percent %}
                                <div class="progress-wrapper col-md-4">
                                    <div class="progress-info">
                                        <div class="progress-percentage">
                                          <span>
                                            {% if percent %} {{percent|floatformat}} {% else %} 0 {% endif %}%
                                          </span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        {% if percent %}
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{percent}}"
                                              aria-valuemin="0" aria-valuemax="100" style="width:{{percent|floatformat}}%">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% elif question.type == "integer" %}
                            <span class="badge badge-pill badge-success">Answer:</span>
                            {{tc.correct}}
                            {% elif question.type == "string" %}
                            <span class="badge badge-pill badge-success">Answer:</span>
                            {{tc.correct}} ({{tc.get_string_check_display}})
                            {% elif question.type == "float" %}
                            {{tc.correct}} with Error Margin {{ tc.error_margin }}
                            {% endif %}
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <strong>Total Submissions: {{total_count}}</strong>
                <br><br>
                {% if question.type != 'mcq' and question.type != 'mcc' %}
                    <div id="plot_div"></div>
                    <script type="text/javascript">
                        var x_data = [];
                        var y_data = [];
                        {% for i, j in per_tc_ans.items %}
                            x_data.push("{{i}}");
                            y_data.push("{{j}}");
                        {% endfor %}
                        var data = [{x: x_data, y: y_data, type: 'bar'}];
                        var layout = {
                            title: "Submission records",
                            xaxis: {title: 'Submitted Value'},
                            yaxis: {title: 'Number of Submissions'}
                        };
                        var config = {responsive: true}
                        Plotly.newPlot('plot_div', data, layout, config);
                    </script>
                    <br><br>
                {% endif %}
                {% include "yaksh/paginator.html" %}
                {% if objects.object_list|length > 10 %}
                <div class="table-responsive" style="height: 700px">
                {% else %}
                <div class="table-responsive">
                {% endif %}
                    <table class="table table-dark table-responsive" id="stats-table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Sr No.</th>
                            <th>Student Name&nbsp;<i class="fa fa-sort"></i></th>
                            <th>Roll No&nbsp;<i class="fa fa-sort"></i></th>
                            <th>Email&nbsp;<i class="fa fa-sort"></i></th>
                            <th>Latest Submission&nbsp;<i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for data in objects.object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{data.student__first_name}} {{data.student__last_name}}</td>
                                <td>{{data.student__profile__roll_number}}</td>
                                <td>{{data.student__email}}</td>
                                {% get_answers data.toc_id data.student_id as user_answer %}
                                <td>{{ user_answer.0 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                {% include "yaksh/paginator.html" %}
            {% endif %}
        </div>
    </div>
    {% else %}
        <div class="container alert alert-warning">
            No lesson quizzes found
        </div>
    {% endif %}
</div>
{% endblock %}