{% extends "manage.html" %}
{% load custom_filters %}

{% block title %} Question Statistics {% endblock %}
{% block pagetitle %} Statistics for {{ quiz.description }}{% endblock pagetitle %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                {% for attempt in attempts %}
                <li class="list-group-item">
                    <a href="{% url 'yaksh:show_statistics' questionpaper_id attempt course_id %}">Attempt {{ attempt }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fa fa-close"></i>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
            {% if question_stats %}
                <p><b>Total number of participants: {{ total }}</b></p>
                <table class="table table-responsive-sm">
                    <tr class="bg-light">
                        <th>Question</th>
                        <th>Type</th>
                        <th>Total attempts</th>
                        <th>Answered Correctly</th>
                    </tr>
                    {% for question, data in question_stats.items  %}
                    <tr>
                        <td style="width: 45%">
                            <a href="#collapse_question_{{question.id}}" data-toggle="collapse">
                            <i class="fa fa-plus"></i>&nbsp;{{ question.summary }}</a>
                            <div class="collapse" id="collapse_question_{{question.id}}">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                    <strong>
                                        Summary:
                                    </strong>
                                    <p>
                                        {{ question.summary }}
                                    </p>
                                    <strong>
                                        Description:
                                    </strong>
                                    <p width="100%">
                                        {{ question.description|safe }}
                                    </p>
                                    <strong>
                                        Points:
                                    </strong>
                                    <p>
                                        {{ question.points }}
                                    </p>
                                    <strong>
                                        Type:
                                    </strong>
                                    <p>
                                        {{ question.get_type_display }}
                                    </p>
                                    {% if question.type in "mcq mcc" %}
                                        {% for tc in question.get_test_cases %}
                                            {% if tc.correct %}
                                            <span class="badge badge-pill badge-success">
                                                {{forloop.counter}}.
                                            </span>
                                            {% else %}
                                            <span class="badge badge-pill badge-dark">
                                                {{ forloop.counter }}.
                                            </span>
                                            {% endif %}
                                            {{tc.options}}
                                                {% get_percent_value data.3 tc.id total as percent %}
                                                <div class="progress-wrapper col-md-4">
                                                    <div class="progress-info">
                                                        <div class="progress-percentage">
                                                          <span>
                                                            {% if percent %} {{percent|floatformat}} {% else %} 0 {% endif %}%
                                                          </span>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        {% if percent %}
                                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{percent}}"
                                                              aria-valuemin="0" aria-valuemax="100" style="width:{{percent|floatformat}}%">
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            <br>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ question.get_type_display }}</td>
                        <td>{{data.0}} out of {{total}}</td>
                        <td>{{ data.1 }} out of {{data.0}} ({{data.2}}%)</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
