{% extends "base.html" %}

{% block title %} View Profile {% endblock %}

{% block pagetitle %} Online Test {% endblock %}
{% block css %}
<link rel="stylesheet" media="all" type="text/css" href="{{ URL_ROOT }}/static/yaksh/css/base.css" />

{% endblock %}
{% block content %}
<ul>
  <a href="{{ URL_ROOT }}/exam/manage/editprofile">Edit Profile</a>
  <a href="{{ URL_ROOT }}/exam/">Back to Home</a>
</ul>
<div class="well">
 <table width="398" border="0" align="center" cellpadding="0">
  <tr>
    <td height="26" colspan="2"><h2>Your Profile Information</h2> </td>
  </tr>
  <tr>
    <td width="82" valign="top"><h4>Firstname:</h4></td>
    <td width="165" valign="top"><h4>{{ user.first_name }}</h4></td>
  </tr>
  <tr>
    <td valign="top"><h4>Lastname:</h4></td>
    <td valign="top"><h4>{{ user.last_name }}</h4></td>
  </tr>
  <tr>
    <td valign="top"><h4>Email:</h4></td>
    <td valign="top"><h4>{{ user.email }}</h4></td>
  </tr>
  <tr>
    <td valign="top"><h4>Institute:</h4></td>
    <td valign="top"><h4>{{ user.profile.institute }}</h4></td>
  </tr>
  <tr>
    <td valign="top"><h4>Department:</h4></td>
    <td valign="top"><h4>{{ user.profile.department }}</h4></td>
  </tr>
    <tr>
    <td valign="top"><h4>Roll Number:</h4></td>
    <td valign="top"><h4>{{ user.profile.roll_number }}</h4></td>
  </tr>
  <tr>
    <td valign="top"><h4>Position:</h4></td>
    <td valign="top"><h4>{{ user.profile.position }}</h4></td>
  </tr>
</table>
</div>
{% endblock %}
