<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    {% block title %}
    {% endblock %}
    </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/yakshcustom.css" type="text/css" />
  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/font-awesome.css" type="text/css" />
  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/ontop.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{ URL_ROOT }}/static/yaksh/css/message_box.css">

  {% block meta %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  {% endblock %}

  {% block css %}
  {% endblock %}

 

  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/popper.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/jquery-3.3.1.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/bootstrap.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/wow.min.js"></script>
 
  <script>
      new WOW().init();
  </script>
  <script>
    {% block script %}
    {% endblock %}
  </script>
</head>

<body {% block onload %} {% endblock %} class="yaksh">

  <div id="ontop">
    <div id="state">
      Checking...<img src="{{ URL_ROOT }}/static/yaksh/images/check_answer.gif"/>
    </div></div>

  {% block nav %}
  {% endblock %}

     <div class="content">
         <div class="header">
             <h3><center>{% block pagetitle %}{% endblock pagetitle %}</center></h3>
         </div>
         <h4><center>{% block subtitle %}{% endblock %}</center></h4>
         {% block content %}
         {% endblock %}
     </div>
     {% if not user.profile.is_moderator and user.is_authenticated %}
         <button type="button" class="feedback-button" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle" aria-hidden="true"></i> Report Issue</button>
     {% endif %}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Leave us a message</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form method="POST" id="feedback_form">
                    {% csrf_token %}
                    <p>Send your message in the form below and we will get back to you as early as possible.</p>
                    <div class="form-group">
                        <label for="user_name">User:</label>
                        <input type="text" name="user_name" class="form-control" id="user_name" value="{{user.username}}" disabled>
                        <label for="user_email">Email:</label>
                        <input type="text" name="user_email" class="form-control" id="user_email" value="{{user.email}}" disabled>
                        <label for="course_name">Course: </label>
                        {% if courses %}
                          <select class="form-control" id="my_courses" required>
                            {% for course in courses %}
                              {% if course.data %}
                                <option value="{{course.data.id}}">
                                  {{course.data}}
                                </option>
                                {% else %}
                                <option value="{{course.id}}">
                                  {{course}}
                                </option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        {% else %}
                          <input type="text" value="{{course.name}}" course-id="{{course.id}}" class="form-control" id="user_course" name="user_course" disabled>
                        {% endif %}
                        <label for="message">Message:</label>
                        <input type="text" name="message" class="form-control" id="message" required>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block" id="btnMessage">Send →</button>
                </form>
            </div>
        </div>
    </div>
</div>

  {% block footer %}
  {% endblock %}

</body>
<script>
  var course_id;
  $(document).ready(function(){
    course_id = $("#my_courses").val();
    if (course_id == null){
      course_id = $("#user_course").attr("course-id");
      console.log(course_id);
    }
    function postfeedback(){
      $.ajax({
        url:"{% url 'yaksh:send_message' %}",
        method:"POST",
        data:{
          course_id: course_id,
          the_post: $('#message').val(),
        }
      });
    }
    $("#feedback_form").on("submit", function(e){
      e.preventDefault();
      postfeedback();
    })
  });
</script>
</html>

