<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    {% block title %}
    {% endblock %}
    </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/yakshcustom.css" type="text/css" />
  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/font-awesome.css" type="text/css" />
  <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/ontop.css" type="text/css" />


  {% block meta %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  {% endblock %}

  {% block css %}
  {% endblock %}

 

  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/popper.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/jquery-3.3.1.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/bootstrap.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{ URL_ROOT }}/static/yaksh/js/wow.min.js"></script>
 
  <script>
      new WOW().init();
  </script>
  {% block script %}
  {% endblock %}
  </script>
</head>

<body {% block onload %} {% endblock %} class="yaksh">

  <div id="ontop">
    <div id="state">
      Checking...<img src="{{ URL_ROOT }}/static/yaksh/images/check_answer.gif"/>
    </div></div>

    
  
  {% block nav %}
  {% endblock %}

     <div class="content">
         <div class="header">
             <h3><center>{% block pagetitle %}{% endblock pagetitle %}</center></h2>
         </div>
         {% block content %}
         {% endblock %}
     </div>
     

  {% block footer %}
  {% endblock %}

   <!-- Chat message div -->
   <div class="container" id="chat_container" style="display: none;">
    <div class="row chat-window col-md-4 chatbox" id="chat_window_1" style="float: right;">
        <div class="col-xs-12 col-md-12">
          <div class="panel">
                <div class="panel-heading top-bar" id="heading-title">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title">
                        <span class="glyphicon glyphicon-comment" id="title"></span>
                        </h3>
                    </div>
                    <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <a><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                        <a><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                    </div>
                </div>
                <div class="panel-body msg_container_base" id="msg_base">
                    <div class="row vertical-center-row">
                    </div>
                </div>
                {% block postchat %}
                {% endblock %}
          </div>
        </div>
    </div>
  </div>

  <!-- Open chat div -->
  <div class="container-fluid" id="open_chat_icon" style="display: none;">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" style="float: right;">
        <button class="btn btn-success btn-fab" id="main" data-toggle="tooltip"
        title="Open Chat">
          <i class="material-icons glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </div>
  </div>
  </div>

</body>
</html>

