{% extends "base.html" %}
{% block nav %}
<div class="container-fluid yakshnav">
<nav class="navbar fixed-top navbar-expand-lg yakshheading yakshnav">
  <div class="container">
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white"></span>
    </button>
    <a class="navbar-brand" href="{{ URL_ROOT }}/exam/">
    <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH" style="margin-top: -3px; margin-left:-15px">
    </img>
    </a>    
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ URL_ROOT }}/exam/manage/questions">Questions</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ URL_ROOT }}/exam/manage/courses">Courses</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ URL_ROOT }}/exam/manage/monitor">Monitor</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ URL_ROOT }}/exam/manage/gradeuser">Grade User</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_root }}/exam/manage/grader"> Regrade </a></li>
            {% if user.profile.is_moderator %}
            <li class="nav-item"><a class="nav-link" href="{{ url_root }}/permissions"> Permissions </a></li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" id="user_dropdown" data-toggle="dropdown" href="#"> {{user.get_full_name|title}}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ URL_ROOT }}/exam/viewprofile/"><i class="fa fa-user"></i>  My Profile</a>
                <div class="dropdown-divider"></div>
                {% if user.profile.is_moderator %}
                <a class="dropdown-item" href="{{URL_ROOT}}/exam/toggle_moderator/"><i class="fa fa-exchange"></i>
                  Switch To Student
                </a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{{ URL_ROOT }}/exam/reset/changepassword/"><i class="fa fa-key"></i> Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="user_logout" href="{{URL_ROOT}}/exam/logout/"><i class="fa fa-sign-out"></i> Logout</a>
              </div>
            </li>
        </ul>
    </div>
  </div>
</nav>
</div>




    <!-- iframe div for video embed -->
    <div id="iframe_div" style="display: none;">
      <div class="embed-responsive embed-responsive-16by9" style=" position: relative;">
        <iframe class="embed-responsive-item" id="video_frame" width="800" height="500"  allowfullscreen>
        </iframe>
        <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;
        </div>
      </div>
    </div>
    <!-- end iframe div -->

    <!-- Dialog to video embed -->
    <div id="dialog_iframe" title="Embed Video URL" style="display: none;">
      <label>Enter embed url:</label>
      <input id="url" name="url" type="text" required="true">
      <input type="button" id="submit_info" name="submit_info" class="btn" value="Submit" />
      <div id="error_div" style="display: none;">
          <b> Please enter URL</b>
      </div>
      <div id="copy_div">
          <br>
          <label>Paste HTML to embed in website:</label>
          <textarea rows="5" cols="35" id="html_text"></textarea>
          <br>
          <a class="btn btn-default" id="copy" data-toggle="tooltip" title="Copy to Clipboard">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
          </a>
      </div>
    </div>
    <!-- end dialog -->

{% endblock %}
{% block content %}
<div class="container">
    {% block main %}
    {% endblock %}
</div>
{% endblock %}

{% block footer %}
  <!--footer-->   
  <footer class="container-fluid yakshfooter text-center ">
    <div class="row justify-content-center">
    <div class="col-sm-5 ">
      {% if user %}
         {% block info %}
         <b>{{user.get_full_name|title}}</b> with Roll no. <b>{{user.profile.roll_number}}</b> is logged in as <b>{{user.username}}</b>
         {% endblock %}
         {% endif %}
    </div>
    <div class="col-sm-2">
      |
    </div>
    <div class="col-sm-4 text-left">
     <b>Any Queries?</b> Email : info@fossee.in
    </div>
  </div>
  </footer>
  <!--footer end-->
{% endblock %}
