<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      Quiz
    </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css">
  <!-- https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css -->
</head>
<body>
    <div class="container" id="app">
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">Yaksh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="#">Quit</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" v-for="(question, index) in results.questions" v-on:click="set_curr_question(question)">{{ index+1 }}</button>
    </div>

    <div class="card">
      <h5 class="card-header">Quiz</h5>
      <div class="card-body">
        <h5 class="card-title">{{ curr_question.summary }}</h5>
        <p class="card-text" v-html="curr_question.description" ></p>
      </div>
    </div>

    <div class="card">
      <!-- If question is code type -->
      <div class="card-body" v-if='curr_question.type == "code"'>
        <form v-on:submit="submit_answer" method="post" action="">
          <textarea v-model="answer"></textarea>
          <button class="btn btn-primary">Check</button>
        </form>
      </div>

      <!-- If question is integer type -->
      <div class="card-body" v-if='curr_question.type == "integer"'>
        <form v-on:submit="submit_answer" method="post" action="">
          <input v-model="answer"/>
          <button class="btn btn-primary">Check</button>
        </form>
      </div>

      <!-- If question is string type -->
      <div class="card-body" v-if='curr_question.type == "string"'>
        <form v-on:submit="submit_answer" method="post" action="">
          <textarea v-model="answer"></textarea>
          <button class="btn btn-primary">Check</button>
        </form>
      </div>

      <!-- If question is integer type -->
      <div class="card-body" v-if='curr_question.type == "float"'>
        <form v-on:submit="submit_answer" method="post" action="">
          <input v-model="answer"/>
          <button class="btn btn-primary">Check</button>
        </form>
      </div>

          <!-- If question is integer type -->
      <div class="card-body" v-if='curr_question.type == "upload"'>
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
        <button class="btn btn-primary" v-on:click="submitFile()" >Upload</button>
      </div>



      <!-- If question is mcq type -->
      <div class="card-body" v-else-if='curr_question.type == "mcq"'>
        <form v-on:submit="submit_answer" method="post" action="">
          <div v-for="tt in curr_question.test_cases">
            <input type="option" v-model="mcqanswer"/> {{tt.options}}
          </div>  
          <button class="btn btn-primary">Check</button>
        </form>
      </div>

      <!-- If question is mcc type -->
      <div class="card-body" v-else-if='curr_question.type == "mcc"'>
        <form v-on:submit="submit_answer" method="post" action="">
          <div v-for="(tt, index) in curr_question.test_cases">
              <input type="checkbox" :id="'answer_'+'index'" v-model="mccanswer" :value="tt.id"/> {{tt.options}}
          </div>
          <button class="btn btn-primary">Check</button>
        </form>
      </div>
      </div>
      <div class="card" v-html="code_result">>
      </div>

      </div>
    </div>
  </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script>
  const url = "http://localhost:8000/api/start_quiz/1/1/" // /api/start_quiz/course-id/quiz-id
  const validate_url = "http://localhost:8000/api/validate/"
  const token = "8ebb5a54048458a8bd73da259391a092c6627f1d" //"d88812ee582e2ab6bb0cdd93faa600541a2bcb39"

  const vm = new Vue({
    el: '#app',
    data: {
      results: [],
      curr_question: null,
      answer: "",
      mcqanswer: "",
      mccanswer: [],
      checker: {},
      code_result: "",
      file: '',
      errors: []
    },
    computed: {
        checkEmpty: function () {
          Object.keys(this.checker).length === 0 && this.checker.constructor === Object
        }
    },
    mounted() {
      axios.get(url, {
       headers: {
         Authorization: 'Token ' + token //the token is a variable which holds the token
       }
      }).then(response => {
        this.results = response.data
        // console.log(this.results)
        this.set_curr_question(this.results.questions[0])
      })
    },

    methods: {

      handleFileUpload(){
        this.file = this.$refs.file.files[0];
      },
  
      submitFile(){
        // console.log(this.file)
        let formData = new FormData();
        formData.append('file', this.file);
        axios.post(validate_url + this.results.id + "/" + this.curr_question.id + '/',{
              answer: formData,
            },
            {
            headers: {
                Authorization: 'Token ' + token, // token holds Django token
            }
          }
        ).then(function(){
          console.log('SUCCESS!!');
        })
        .catch(function(){
          console.log('FAILURE!!');
        });
      },

      set_curr_question: function (question) {
        // console.log(question.id)
        return this.curr_question = question
      },

      check_answer_status(result) {
        // console.log("Checking answer status")
          axios.get(validate_url + result.uid + "/", {
              headers: {
                Authorization: 'Token ' + token // token holds Django token
            },
          }).then(response => {
              // console.log("After initial answer check fetching result")
              if (response.data.status == 'done') {
                vm.checker = JSON.parse(response.data.result)
                this.render_code_output()
              }
          })
          .catch(function (error) {
            console.log(error)
          });
      },
      submit_answer(event) {
          console.log("Submitting answer")
          event.preventDefault();
          if(this.curr_question.type == "code"){
            ans = this.answer
          } else if(this.curr_question.type == "mcq"){
            ans = this.mcqanswer
          } else if(this.curr_question.type == "mcc"){
            ans = []
            this.mccanswer.forEach((answer) => {
              ans.push(String(answer))
            })
            console.log(ans)
          }
          console.log('this.results',this.results.id)
          axios.post(validate_url + this.results.id + "/" + this.curr_question.id + '/', {
              answer: ans,
            },
            {
              headers: {
                Authorization: 'Token ' + token // token holds Django token
            },
          }).then(function (response) {
              this.inter_output = response.data;
              if (this.inter_output.status == 'running') {
                vm.check_answer_status(this.inter_output)
              }
          })
          .catch(function (error) {
              // this.output = error;
              console.log("error")
              // console.log(this.output)
          });
      },
      render_code_output: function(response) {
        // console.log(this.checker.error)
        this.checker.error.forEach((error) => {
          this.errors.push(error.exception)
        })
        console.log(this.errors)
        if (Object.keys(this.checker).length === 0 && this.checker.constructor === Object) {
          this.code_result = ""
        } else if (this.checker.success == false) {
          this.code_result = `
          <div class="">
            <h5 class="">
              Incorrect Answer
            </h5>
            <p class="card-text">
              Exception: ${this.checker.error[0].exception}: ${this.checker.error[0].message }<br>
              Traceback: ${this.checker.error[0].traceback}<br>
            </p>
            </div>
            
            <div class="card-header alert-danger" >Error No.  </div>
              <div class="card-body">
                <p> <b>The following error took place: </b></p>
                <table class="table  table-borderless border border-danger table-responsive-sm" width="100%" id='assertion'>
                <col width="30%">
                    <tr class = "bg-light">
                      <td><b>Exception Name: </b></td>
                      <td><span class="text-danger"></span></td>
                  </tr>
                  <tr>
                    <td><b>Exception Message: </b></td><td>${this.checker.error[0].message}</td>
                  </tr>
                  <tr>
                    <input type="hidden" id="err_lineno" value="{{error.line_no}}">
                    <td><b>Full Traceback: </b></td>
                    <td><pre>${this.checker.error[0].traceback}</pre></td>
                  </tr>
                </table>
              </div>
            </div>
            `
        } else {
            this.code_result = `<div class="card-body">
            <h5 class="card-title">
              Correct Answer
            </h5>
            </div>`
        }
      },
    }
  });

</script>
