<nav id="navbar" class="navbar is-dark">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">{{ user }}</a>
        <div
                id="navbarBurger"
                class="navbar-burger burger"
                data-target="burgerMenu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>
    <div class="navbar-menu" id="burgerMenu">
        <div class="navbar-end">
            <a href="#" class="navbar-item">
                <strong>Logout</strong>
            </a>
        </div>
    </div>
</nav>