# Core
ALLOWED_HOSTS=yaksh-backend.onrender.com,yaksh-test.vercel.app
CORS_ALLOWED_ORIGINS=https://yaksh-test.vercel.app,https://yaksh-test-hnhp5buei-mohit-ranas-projects-78ee31b4.vercel.app/
DEBUG=False
DOMAIN_HOST=https://yaksh-backend.onrender.com
PYTHON_VERSION=3.9.0
SECRET_KEY=

# Database (PostgreSQL example)
DATABASE_URL=

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

IS_DEVELOPMENT=False
SENDER_NAME=Yaksh Online Test


# Caching & Celery (Redis)
REDIS_URL=

# Social Auth
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_FACEBOOK_KEY=
SOCIAL_AUTH_FACEBOOK_SECRET=
SOCIAL_AUTH_GITHUB_KEY=
SOCIAL_AUTH_GITHUB_SECRET=
