*.pyc
*.zip
*~
.project
.pydevproject
app.yaml
build
tests/coverageResults
*,cover
tests/.coverage
*.git
*.egg-info
eggs
parts
.installed.cfg
bin
develop-eggs
.DS_Store
.settings
.*.swp
*.egg
*.egg-link
*.svn*
*.wpr
.installed.cfg
src/*
parts
downloads
.xvpics*
.project
pytask/local.py
pytask/pytask.egg-info
pytask/static/media
pytask/uploads
apache/*
*.swp
*.bak
*.swo
*.db-journal
*.db
wsgi.log
*.sqlite3
data/
_build/
