include LICENSE
include README.rst
exclude testapp/production.py
exclude testapp/settings.py
exclude testapp/urls.py
exclude testapp/test_server.py
exclude testapp/manage.py
recursive-exclude testapp/myauthentication *
recursive-include testapp/yaksh/static *
recursive-include testapp/yaksh/templates *
recursive-include testapp/yaksh/management *
recursive-include testapp/yaksh/output *
recursive-include testapp/yaksh/fixtures *
