include LICENSE
include README.md
recursive-include yaksh/static *
recursive-include yaksh/templates *
recursive-include yaksh/demo_templates *
recursive-include yaksh/management *
recursive-include yaksh/output *
recursive-include yaksh/fixtures *
recursive-include yaksh/docs *