{% extends "base.html" %}

{% block title %} Quiz results {% endblock title %}

{% block meta %} <meta http-equiv="refresh" content="30"/> {% endblock meta %}

{% block content %}

{% if not quizzes and not quiz %}
<h1> Quiz results </h1>

<p> No quizzes available. </p>

{% endif %}

{# ############################################################### #}
{# This is rendered when we are just viewing exam/monitor #}
{% if quizzes %}
<h1> Available quizzes </h1>

<ul>
{% for quiz in quizzes %}
<li><a href="{{URL_ROOT}}/exam/monitor/{{quiz.id}}/">{{ quiz.description }}</a></li>
{% endfor %}
</ul>
{% endif %}

{# ############################################################### #}
{# This is rendered when we are just viewing exam/monitor/quiz_num #}
{% if quiz %}
<h1> {{ quiz.description }} results </h1>
{% if papers %}
{# <p> Quiz: {{ quiz_name }}</p> #}
<p>Number of papers: {{ papers|length }} </p>

<table border="1" cellpadding="3">
    <tr>
        <th> Name </th>
        <th> Username </th>
        <th> Roll number </th>  
        <th> Institute </th>
        <th> Questions answered </th> 
        <th> Total marks </th>
        <th> Attempts </th>
    </tr>
    {% for paper in papers %}
    <tr> 
        <td> <a href="{{URL_ROOT}}/exam/user_data/{{paper.user.username}}">
                {{ paper.user.get_full_name.title }}</a> </td>
        <td> <a href="{{URL_ROOT}}/exam/user_data/{{paper.user.username}}">
                {{ paper.user.username }}</a> </td>
        <td> {{ paper.profile.roll_number }} </td>
        <td> {{ paper.profile.institute }} </td>
        <td> {{ paper.get_answered_str }} </td> 
        <td> {{ paper.get_total_marks }} </td>
        <td> {{ paper.answers.count }} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No answer papers so far. </p>
{% endif %} {# if papers #}
{% endif %}

<a href="{{URL_ROOT}}/admin/">Admin</a>

{% endblock content %}
