<h2> {{ question.summary }} </h2>

<p>{{ question.description }} </p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/exam/{{ question.id }}/check/" method="post">
{% csrf_token %}

<textarea rows="20" cols="100" name="answer">
{% if last_attempt %}{{last_attempt}}{% else %}# Enter your answer here.{% endif %}
</textarea>

<br/>

<input type="submit" name="check" value="Check Answer" />
<input type="submit" name="skip" value="Skip question" />
</form>

<p> You have {{quiz.questions_left}} question(s) left. </p>

<hr/>
<form action="/exam/quit/" method="post">
{% csrf_token %}
<input type="submit" name="quit" value="Quit exam and logout" />
</form>
