{% extends "base.html" %}

{% block title %} Data for user {{ user_data.name.title }} {% endblock title %}

{% block content %}

<h1> Data for user {{ user_data.name.title }} </h1>

<p> 
Name: {{ user_data.name.title }} <br/>
Username: {{ user_data.username }} <br/>
Roll number: {{ user_data.rollno }} <br/>
Email: {{ user_data.email }} <br/>
Position: {{ user_data.position }} <br/>
Department: {{ user_data.department }} <br/>
Institute: {{ user_data.institute }} <br/>
Date joined: {{ user_data.date_joined }} <br/>
Last login: {{ user_data.last_login }} 
</p>

{% if user_data.papers %}

{% for paper in user_data.papers %}

<h2> Quiz: {{ paper.name }} </h2>

<p>
Answered questions: {{ paper.answered }} <br/>
Total attempts at questions: {{ paper.attempts }} <br/>
Total marks: {{ paper.total }} <br/>
Start time: {{ paper.start_time }} <br/>
User IP address: {{ paper.user_ip }} 
</p>

{% if paper.answers %}
<h3> Answers </h3>
{% for question, answer in paper.answers.items %}
<p><strong> Question: {{ question }} </strong> </p>
<pre> 
{{ answer|safe }}
</pre>
{% endfor %}
{% endif %} {# if paper.answers #}

{% endfor %} {# for paper in user_data.papers #}

{% endif %} {# if user_data.papers #}

{% endblock content %}
