{% extends "base.html" %}

{% block title %} Data for user {{ user_data.name }} {% endblock title %}

{% block content %}

<h1> Data for user {{ user_data.name }} </h1>

<p> Name: {{ user_data.name }} </p>
<p> Username: {{ user_data.username }} </p>
<p> Roll number: {{ user_data.rollno }} </p>
<p> Email: {{ user_data.email }} </p>
<p> Date joined: {{ user_data.date_joined }} </p>
<p> Last login: {{ user_data.last_login }} </p>

{% if user_data.papers %}

{% for paper in user_data.papers %}

<h2> Quiz: {{ paper.name }} </h2>

<p> Answered questions: {{ paper.answered }} </p>
<p> Total attempts at questions: {{ paper.attempts }} </p>
<p> Total marks: {{ paper.total }} </p>
<p> Start time: {{ paper.start_time }} </p>
<p> User IP address: {{ paper.user_ip }} </p>

{% if paper.answers %}
<h3> Answers </h3>
{% for question, answer in paper.answers.items %}
<h4> Question summary: {{ question }} </h4>
<pre> 
{{ answer|safe }}
</pre>
{% endfor %}
{% endif %} {# if paper.answers #}

{% endfor %} {# for paper in user_data.papers #}

{% endif %} {# if user_data.papers #}

{% endblock content %}
