{% extends "base.html" %}
{% load static %}

{% block title %} Forgot Password {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/yaksh_banner.png' %}" alt="YAKSH">
    </a>
</nav>
{% endblock %}

{% block content %}
<center>
<div class="container">
    <p>Your password has been reset. </p>
    <p><a href="{{ login_url }}" class="btn btn-success btn-lg">Log in</a></p>
    </div>
</center>
{% endblock %}
