{% extends "base.html" %}
{% block pagetitle %}
<div class="yakshnav fixed-top" style=" padding-top: 0.5%;padding-bottom: 0.5%;">
    <a class="navbar-brand" href="{{ URL_ROOT }}/exam/"  >
    <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH">
    </img>
    </a> 
</div>
{% endblock %}

{% block content %}
<center>
<h4>Password reset successful</h4>
<div class="alert alert-success animated flash col-md-8">
Instruction for setting new password has been mailed to your registered email address 
</div>
</center>
{% endblock %}
