{% extends "base.html" %}
{% load static %}

{% block title %} Forgot Password {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/yaksh_banner.png' %}" alt="YAKSH">
    </a>
</nav>
{% endblock %}

{% block content %}
<br><br>
<center><h4>Reset Password</h4>
    {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly</p>.
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class= "btn btn-success btn-lg" type="submit">Submit</button>
        </form>
    {% else %}
        <p>This reset link is no longer valid!</p>
    {% endif %}
</center>
{% endblock %}
