{% extends "base.html" %}
{% block pagetitle %}
<div class="yakshnav fixed-top" style=" padding-top: 0.5%;padding-bottom: 0.5%;">
    <a class="navbar-brand" href="{{ URL_ROOT }}/exam/"  >
    <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH">
    </img>
    </a> 
</div>
{% endblock %}

{% block content  %}
<center><h4>Reset Password</h4>
    {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly</p>.
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class= "btn btn-success" type="submit">Submit</button>
        </form>
    {% else %}
        <p>This reset link is no longer valid!</p>
    {% endif %}
</center>
{% endblock %}
