{% extends "base.html" %}
{% load static %}
{% block pagetitle %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/yaksh_banner.png' %}" alt="YAKSH">
    </a>
</nav>
{% endblock %}
{% block title %} Change Password {% endblock %}

{% block script %}
<script type="text/javascript">
    window.setTimeout(function()
    {
        location.href="{% url 'yaksh:index' %}"
    }, 2000);
</script>
{% endblock %}
{% block content %}
<br><br>
<center>
    <div class="container row align-items-center">
        <div class="col">
            <h3>Your password has been changed successfully.</h3>
            <h4>Redirecting ...</h4>
        </div>
    </div>
<div class="col"><img src="{% static 'yaksh/images/profile_change.gif' %}"></div>
</center>
{% endblock %}
