{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
{% block pagetitle %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/yaksh_banner.png' %}" alt="YAKSH">
    </a>
</nav>
Change Password
{% endblock %}
{% block title %} Change Password {% endblock %}

{% block content %}
<form action="" method="post" >
    {% csrf_token %}
    <center>
        <table class="span1">
            {{ form }}
        </table>
    </center>
    <br>
    <center>
        <button class="btn btn-success btn-lg" type="submit">
            Change
        </button>
        <a href="{% url 'yaksh:index' %}" class="btn btn-primary btn-lg">
            Cancel
        </a>
    </center>
</form>
{% endblock content %}
