{% extends "base.html" %}
{% block pagetitle %}
<div class="yakshnav fixed-top" style=" padding-top: 0.5%;padding-bottom: 0.5%;">
    <a class="navbar-brand" href="{{ URL_ROOT }}/exam/"  >
    <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH">
    </img>
    </a> 
</div>
{% endblock %}

{% block content %}
<center>
<h4>Email will be send to the registered email address</h4>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-success" type="submit">Request</button>
    <a class="btn btn-danger" href="{{URL_ROOT}}/exam/login/">Cancel</a>
</form>
</center>
{% endblock content %}
