{% extends "base.html" %}
{% block pagetitle %}
<div class="yakshnav fixed-top" style=" padding-top: 0.5%;padding-bottom: 0.5%;">
    <a class="navbar-brand" href="{{ URL_ROOT }}/exam/"  >
    <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH">
    </img>
    </a> 
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	window.setTimeout(function()
	{   
		location.href="{{ URL_ROOT }}/exam/"
	}, 2000);
</script>
{% endblock %}
{% block content %}
<div class="row align-items-center">
	<div class="col">
		<h3>Your password has been changed successfully.</h3>
		<h4>Redirecting ...</h4>
	</div>

	<div class="col"><img src="{{ URL_ROOT }}/static/yaksh/images/profile_change.gif/"></div>
</div>
{% endblock %}
