{% extends "base.html" %}
{% load static %}
{% block title %} Forgot Password {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/yaksh_banner.png' %}" alt="YAKSH">
    </a>
</nav>
{% endblock %}

{% block content %}
<center>
<h2>Password reset successful</h2>
<div class="alert alert-success col-md-8">
Instruction for setting new password has been mailed to your registered email address 
</div>
<br>
<a class="btn btn-primary btn-lg" href="{% url 'yaksh:login' %}">Go to Login</a>
</center>
{% endblock %}
