body, .dropdown-menu {
    font-size: 1.25rem;
}

.base-content {
    padding-top: 5em;
    padding-bottom: 5em;
}

#login-btn, #signup-btn, #forgot-btn{
    width: 75%;
}

.dropdown {
    display: flex;
}

.course-detail, #result-table {
    table-layout: fixed;
    width: 100%;   
}

.course-detail, #result-table > th, td {
    word-wrap: break-word;
}

#rendered_text{
	width: 550px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    background: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -350px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #158CBA;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (min-width: 1024px) {

  .students-list {
    position: fixed !important;
  }
}

/* ---------------------------------------------------
    FORUM STYLE
----------------------------------------------------- */

.brown-light {
    background: #f4a460;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.post_image, .comment_image {
    width: 50%;
    height: 50%;
}

.description {
    font-size: 16px;
}
/* ---------------------------------------------------
    Quiz question style
----------------------------------------------------- */
#question_card {
    border: none;
}
