body, .dropdown-menu {
    font-size: 1.25rem;
}

.base-content {
    padding-top: 5em;
    padding-bottom: 5em;
}

#login-btn, #signup-btn, #forgot-btn{
    width: 75%;
}

.dropdown {
    display: flex;
}

.course-detail, #result-table {
    table-layout: fixed;
    width: 100%;   
}

.course-detail, #result-table > th, td {
    word-wrap: break-word;
}

#rendered_text{
	width: 550px;
}