#assertion td, #assertion th, #stdio td, #stdio th { border: #ff8295 solid 1px !important;
			word-wrap: break-word !important;
			white-space: pre-wrap !important;
			}
#stdio, #assertion {
	table-layout: fixed
}
.legend_table{
	border: 1px solid;
	width: 15em;
	background-color: white;
	border-spacing: 5px;
	border-collapse: collapse;
}
