.helptext{
    font-weight: bold;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 6px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}