.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.tabs li {
    text-align: center;
    width: 33%;
}
.tabs li:last-child {
    width: 34%;
}
.tabs > .active{
    border: 0;
}
.tabs > .active > a:hover {
    border: 0;
}
.tabs li a {
    border-radius: 0;
    margin-right: 0;
}
.tabs {
    border: 1px solid #ddd;
}
#progress {
    background: red;
}
#content-left{
    text-align: center;
    background: grey;
}
#content-right{
    text-align: center;
    background: grey;
}
#selectors {
    margin-left: 0;
    background: #fafafa;
    padding: 7px 0;
    border: 2px solid #f5f5f5;
}
#selectors .col-md-6 {
    margin-left: 0;
}
#id_question_type {
    width: 100%;
}
#id_marks {
    width: 100%;
}
#fixed-questions .col-md-6 > div,
#random-questions .col-md-6 > div{
    background: #f5f5f5;
    height: 300px;
    border: 1px solid #333333;
    padding: 5px;
}
#fixed-available,
#random-available {
    height: 220px;
    min-height: 200px;
    overflow-y: scroll;
    margin-bottom: 15px;
}
#fixed-added,
#random-added {
    height: 220px;
    overflow-y: scroll;
}
#fixed-added hr,
#random-added hr {
    margin: 5px 0 4px;
}
 #fixed-next, #random-prev, #random-next, #finish-prev{
    color: white;
}
.qcard {
    position: relative;
    background: #ffffff;
    padding: 5px;
    margin: 5px 5px;
    box-shadow: 1px 1px 5px #cccccc;
    -webkit-box-shadow: 1px 1px 5px #cccccc;
    -moz-box-shadow: 1px 1px 5px #cccccc;
    -o-box-shadow: 1px 1px 5px #cccccc;
}
.qcard ul {
    margin-bottom: 5px;
}
.qcard .remove {
    position: absolute;

    top: 3px;
    right: 3px;
    padding: 1px 3px;
    text-decoration: none;
    color: #ffffff;
    background: #ff4136;
    border-radius: 3px;
    font-weight: bold;
}
.qcard .remove:hover {
    background: #333333;
}
.red-alert {
    border: 2px solid red;
}
.well{
    padding: 5px;
}
