<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>
{% block title %}
{% endblock %}
</title>
{% block meta %}
{% endblock %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/exam/css/base.css" type="text/css" />
{% block css %}
{% endblock %}
{% block script %}
{% endblock %}
</head>

<body {% block onload %}{% endblock %}>
    <div class=box>
{% block content %}
{% endblock %}
    </div>
</body>
</html>
