-r requirements-codeserver.txt
invoke==0.21.0
django==1.10
django-taggit==0.18.1
pytz==2016.4
python-social-auth==0.2.19
selenium==2.53.6
coverage
ruamel.yaml==0.15.23
markdown==2.6.9
channels==1.1.6
asgi-redis==1.4.3
Twisted[tls,http2]==17.5.0