{% extends "manage.html" %}


{% block subtitle %}List of Questions {% endblock %}

{% block script %}
<script src="{{ URL_ROOT }}/static/exam/js/show_question.js"></script>
{% endblock %}

{% block manage %}
<form name=frm action="" method="post">
{% csrf_token %}
{% for question, tags in questions.items %}
<p>
    <input type="checkbox" name="question" value="{{ i.id }}">&nbsp;&nbsp;<a href="{{URL_ROOT}}/exam/manage/addquestion/{{ question.id }}">{{ question }}</a> 
    {% for tag in tags %}
        <a href="{{URL_ROOT}}/exam/manage/questions/filter/{{ tag }}" class="span label notice" value="{{ tag }}">{{ tag }}</a>
    {% endfor %}
</p>
{% endfor %}
<br>
<button class="btn" type="button" onclick='location.replace("{{URL_ROOT}}/exam/manage/addquestion/");'>Add Question</button>&nbsp;&nbsp;
<button class="btn" type="submit" name='edit' value='edit' onClick="return confirm_edit(frm);">Edit Selected</button>&nbsp;&nbsp;
<button class="btn" type="submit" onClick="return confirm_delete(frm);" name='delete' value='delete'>Delete Selected</button>
</form>
{% endblock %}
