{% extends "manage.html" %}


{% block subtitle %} 
Add Quiz
{% endblock %}

{% block manage %}

<style type='text/css'>

table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
</style>
<form name=frm action="" method="post">
{% csrf_token %}
<center>
<table class=span1>
{{ form.as_table }}
</table>
</center>
<center><button class="btn" type="submit" name="save">Save</button>
<button class="btn" type="reset" name="reset">Clear</button> </center>
</form>
{% endblock %}
