{% extends "manage.html" %}


{% block subtitle %}Add Quiz{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/exam/css/question_quiz.css" type="text/css" /> 
{% endblock %}

{% block manage %}
<form name=frm action="" method="post">
  {% csrf_token %}
  <center>
  <table class=span1>
  {{ form.as_table }}
  </table>
  </center>
  <center><button class="btn" type="submit" name="save">Save</button>
  <button class="btn" type="button" name="button" onClick='location.replace("{{URL_ROOT}}/exam/manage/showquiz/");'>Cancel</button> </center>
</form>
{% endblock %}
