{% extends "manage.html" %}


{% block subtitle %}Design Question Paper{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ URL_ROOT }}/static/exam/css/question_quiz.css" type="text/css" /> 
<link rel="stylesheet" media="all" type="text/css" href="{{ URL_ROOT }}/static/exam/css/autotaggit.css" />
{% endblock %}
{% block script %}
<script src="/static/taggit_autocomplete_modified/jquery.min.js" type="text/javascript"></script>
<script src="/static/taggit_autocomplete_modified/jquery.autocomplete.js" type="text/javascript"></script>

<script>
function load_data()
{
    var value = document.getElementById('mode').value;
    var pathArray = window.location.pathname.split( '/' );
    length = pathArray.length;
    var digit = parseInt(pathArray[length-2]);

    if (! isNaN(digit) && value == 'Automatic') 
    {
         window.location = "{{ URL_ROOT }}/exam/manage/designquestionpaper/automatic/" + digit;
    }
    else if(!isNaN(digit) && value == 'Manual')
    {
         window.location = "{{ URL_ROOT }}/exam/manage/designquestionpaper/manual/" + digit;
    }
    else if(value == 'Automatic')
    {
         window.location = "{{ URL_ROOT }}/exam/manage/designquestionpaper/automatic"; 
    }
    else if( value == 'Manual')
    {
         window.location = "{{ URL_ROOT }}/exam/manage/designquestionpaper/manual";
    }
}
</script>
{% endblock %}

{% block manage %}
<form>
{% csrf_token %}
Select mode to design Question Paper: 
<select name='mode' id='mode' onChange='javascript:load_data();'>
  <option>---------</option>
  <option>Automatic</option>
  <option>Manual</option>
</select> 
</form>


{% endblock %}
