{% extends "base.html" %}

{% block title %}Good bye!{% endblock %}

{% block content %}

<html lang="en">
  <body>
    <div class="container">
     <div class="content">
<div class="page-header">
<h1><Strong><center>Online Test</center></strong></h1>
</div>
          <div class=row>
         <div class=span14>

<center><h2> Good bye! </h2></center>

<center><h4> {{message}} </h4></center>

<center><h4>You may now close the browser.</h4></center>

</div></div></div>
<footer>
        <p>&copy; FOSSEE group, IIT Bombay</p>
      </footer>
</div>
</body>
</html>
{% endblock content %}
