{% extends "manage.html" %}


{% block subtitle %} 
List of Questions 
{% endblock %}

{% block script %}
<script type='text/javascript'>
function confirm_delete(frm)
{
       var r = confirm("Are you Sure ?");
       if(r==false)
       {
               for(i=0;i<frm.question.length;i++)
               {
                       frm.question[i].checked=false;
               }
               location.replace("{{URL_ROOT}}/exam/manage/showquestion");
       }
}
function confirm_edit(frm)
{
	var n = 0;
	for(i=0;i<frm.question.length;i++)
	{
		if(frm.question[i].checked==true)
			n = n+1;
	}
	if(n==0)
		location.replace("{{URL_ROOT}}/exam/manage/showquestion");

}
</script>
{% endblock %}

{% block manage %}
<form name=frm action="" method="post">
{% csrf_token %}
{% for i in questions %}
<input type="checkbox" name="question" value="{{ i.id }}">&nbsp;&nbsp;<a href="{{URL_ROOT}}/exam/manage/addquestion/{{ i.id }}">{{ i }}</a><br>
{% endfor %}
<br>
<button class="btn" type="button" onclick='location.replace("{{URL_ROOT}}/exam/manage/addquestion/");'>Add Question</button>&nbsp;&nbsp;
<button class="btn" type="submit" name='edit' value='edit' onClick="confirm_edit(frm);">Edit Selected</button>&nbsp;&nbsp;
<button class="btn" type="submit" onClick="confirm_delete(frm);" name='delete' value='delete'>Delete Selected</button>

</form>
{% endblock %}
